---
layout: default
title: sixzero | Admithub project concept
description: Design concept for Admithub
light_header: true
---

{% include page-header.html class="header--grey" title="Admithub" subtitle="We want to help you bring students and educators together. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Website
    </h3>
    <p class="project__body">
      We redesigned the Admithub website to drive up conversions and increase clicks on the &lsquo;Request A Demo&rsquo; buttons. We also focused on making the messaging and design as clear as possible so educations understand exactly what Admithub is all about.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/desktop.png" alt="Admithub app mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Instant Mobile Messaging
    </h3>
    <p class="project__body">
      Your message loud and clear.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/desktop-2.png" alt="Admithub app mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile
    </h3>
    <p class="project__body">
      Allow educators to learn about Admithub no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/mobile.png" alt="Admithub mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Admithub bring students and educators together." %}