---
layout: default
title: Sixzero | AdmitHub project concept
description: Design concept for AdmitHub
light_header: true
---

{% include page-header.html class="header--grey" title="AdmitHub" subtitle="We want to help you bring students and educators together. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Website
    </h3>
    <p class="project__body">
      We redesigned the AdmitHub website to drive up conversions and increase clicks on the &lsquo;Request A Demo&rsquo; buttons. We also focused on making the messaging and design as clear as possible so educations understand exactly what AdmitHub is all about.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/desktop.png" alt="AdmitHub app mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Instant Mobile Messaging
    </h3>
    <p class="project__body">
      Your message loud and clear.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/desktop-2.png" alt="AdmitHub app mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile
    </h3>
    <p class="project__body">
      Allow educators to learn about AdmitHub no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/admithub/mobile.png" alt="AdmitHub mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help AdmitHub bring students and educators together." %}