---
layout: default
title: sixzero | Etherparty project concept
description: Design concept for Etherparty
light_header: true
---

{% include page-header.html class="header--grey" title="Etherparty" subtitle="We want to help make smart contract creation easier than ever. Scroll down to see our vision." %}

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Etherparty App
      </h3>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/etherparty/desktop.png" alt="Etherparty app mockup" class="responsive-image">
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    Etherparty Mobile
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/etherparty/mobile.png" alt=" Etherparty mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Etherparty." %}