---
layout: default
title: UI design for FTSY | Sixzero
description: User testing and UI design for FTSY. We redefined the look the mobile app and designed a vastly improved user experience.
light_header: true
og_image: http://sixzero.co/assets/img/projects/ftsy/og-image-ftsy.png
body_class: projects--ftsy
---


<section class="project--right-image ftsy-intro has-no-padding-bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="intro__title">Case study <br><span class="title-highlight">FTSY</span></h2>
      <p class="h6 intro__copy">
        Shopping for new shoes online can be daunting. Finding cool new brands
        and unique styles is a challenge, and sizing is always a huge risk.
        While companies do plenty of things to help reduce anxiety and inspire
        confidence while purchasing, there is always a little voice saying
        &ldquo;I really hope these fit!&rdquo;.
      </p>
      <p class="h6 intro__copy">
        FTSY approached us to help them improve the shoe shopping experience so
        that everyone can feel confident and find the perfect pair without the
        stress.
      </p>
    </div>
    <div class="project__image">
      {% include image/optimized.html
        types="webp,jp2,png"
        maxPx="704"
        widths="300,450,600,704"
        dir="projects/ftsy/category-details"
        name="category-details"
        sizes="(max-width: 768px) 50vw, 704px"
        fallbackURL="projects/ftsy/category-details.png"
        class="responsive-image"
        alt="FTSY mobile app details screen"
      %}
    </div>
  </div>
</section>

<section class="project--centered project-centered--left-aligned ftsy-testing">
  <div class="project__description">
    <h2 class="h4 project__name">
      Before we begin
    </h2>
    <p>
      Our first priority was to gain a deep understanding of how potential FTSY
      users went about shopping for shoes online. We wanted to learn what
      worries them, what they like or dislike, and what makes a good shopping
      experience. We also needed to know how well the existing FTSY app
      performed.
    </p>
    <p>
      To do this, we did 5 individual user testing sessions. During the
      interviews, we dug deep and figured out what each person&rsquo;s vision of a
      great shopping experience looked liked and got each person to try the
      FTSY app. The thoughts and insights they shared were invaluable.
    </p>
    <p class="has-no-padding-bottom ">
      We used the findings from these sessions as the foundation for our redesign.
    </p>
  </div>
</section>

<picture>
  {% include image/sources.html
    media="(max-width: 768px)"
    widths="768,550,350"
    dir="projects/ftsy/wireframes-mobile-xs"
    name="wireframes-mobile-xs"
    types="webp,jp2,png"
  %}
  {% include image/sources.html
    media="(max-width: 1024px)"
    widths="1024,950,850"
    dir="projects/ftsy/wireframes-mobile"
    name="wireframes-mobile"
    types="webp,jp2,png"
  %}
  {% include image/sources.html
    media="(min-width: 1024px)"
    widths="2880,2250,1800,1500,1300"
    dir="projects/ftsy/wireframes"
    name="wireframes"
    types="webp,jp2,png"
  %}
  <img
    src="/assets/img/projects/ftsy/wireframes.png"
    alt="FTSY mobile app wireframes"
    class="responsive-image"
    loading="lazy"
  />
</picture>

<section class="project--left-image has-bg-circle-left has-xl-spacing">
  <div class="section__inner--c10">
    <div class="project__image">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="/assets/img/projects/ftsy/product-page-mobile.png"
        >
        <img
          src="/assets/img/projects/ftsy/product-page.png"
          alt="Product details screen in FTSY app"
          class="responsive-image"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="project__description">
      <h2 class="h4 project__name">It&rsquo;s in the details</h2>
      <p>
        Our testing sessions told us to focus on features that would help
        shoppers make a purchase more confidently. That meant concentrating on
        the product pages. We redesigned the page from the ground up. We made
        the images larger so you could see every
        last detail, we showed the available colours and price more prominently,
        we made the product descriptions easier to find, and showed the sizing
        front and center.
      </p>
      <p>
        We also changed the purchase button. Test participants described being
        surprised or hesitant to press the button in the original app because
        they were unsure of the next step. A colour and copy change removed
        those worries.
      </p>
    </div>
  </div>
</section>

<section class="ftsy-shopping">
  <div class="project__description">
    <div class="project__description-inner">
      <h2 class="h4 project__name">The good part</h2>
      <p>
        5 out of 5 test participants told us over and over that they just wanted
        to get to the good part &mdash; the shoes!
      </p>
      <p>
        This meant redefining the structure of the app, and removing parts
        of the onboarding flow that caused so much confusion. We wanted people
        to freely browse all the unique shoes as quickly as possible so they
        could fall in love before they needed to scan their feet and enter
        any account details.
      </p>
    </div>
  </div>
  <div class="project__image">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="/assets/img/projects/ftsy/shopping-3.png"
      >
      <source
        media="(max-width: 992px)"
        srcset="/assets/img/projects/ftsy/shopping.png"
      >
      <img
        src="/assets/img/projects/ftsy/shopping.png"
        alt="Redefining the structure of the FTSY app"
        class="responsive-image"
        loading="lazy"
      />
    </picture>
  </div>
</section>

<section class="project--right-image has-bg-circle-right has-xl-spacing ftsy-scanning">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="h4 project__name">The magic</h2>
      <p>
        FTSY&rsquo;s scanning technology is the magic ingredient in the FTSY sauce. The scanner builds a super accurate 3D model by taking 24 photos of a shoppers feet guaranteeing any shoes you buy through FTSY fit perfectly.
      </p>
      <p>
        While our participants loved the idea, they found it slow and difficult to get a successful scan.
      </p>
      <p>
        We designed a scanning experience that is much faster and easier to use by focusing on giving shoppers clear instructions, a better sense of progress, and a clearer UI.
      </p>
    </div>
    <div class="project__image">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="/assets/img/projects/ftsy/scanning-mobile.png"
        >
        <img
          src="/assets/img/projects/ftsy/scanning.png"
          alt="FTSY mobile app foot scanning screen"
          class="responsive-image"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>

{% include section-cta-block.html %}
