---
layout: default
title: Sixzero | Gain Life project concept
description: Design concept for Gain Life
light_header: true
---

{% include page-header.html class="header--grey" title="Gain Life" subtitle="We want to help Gain Life unlock intrinsic motivation. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Website
      </h3>
      <p class="project__body">
        We redesigned the Gain Life website to help visitors understand the value of the platform immediately. We shortened the header, and made the title more visible. We also brought three value propositions right to the top, highlighted by a strong header. 
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/gainlife/desktop.png" alt="Gain Life app mockup" class="responsive-image">
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Gain Life mobile
    </h3>
    <p class="project__body">
      Allow people to learn about your business no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/gainlife/mobile.png" alt="Gain Life mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Gain Life unlock intrinsic motivation." %}