---
layout: default
title: Sixzero | Jane app project
description: Design concept for Jane app
light_header: true
redirect_from: "/janeapp/"
---

{% include page-header.html class="header--grey" title="Jane" subtitle="We want to help make using Jane easier than ever, from booking appointments to managing a whole practice. Scroll down to see how our redesign does just that." %}

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Clinic Home Page
    </h3>
    <p class="project__body">
      Our redesign gives users a super clear navigation and puts the primary actions up front allowing them to find the
      treatment or practitioner they need quickly. Important things like the clinic address and help buttons are also
      more visible.
    </p>
  </div>
  <div class="project__image">
    <img
      src="/assets/img/projects/jane/home.png"
      alt="jane app mockup"
      class="responsive-image"
    >
  </div>
  <div class="project__comparison-image">
    <img
      src="/assets/img/projects/jane/home-compare.png"
      alt="jane app mockup"
      class="responsive-image"
    >
    <div class="comparison-caption">
      Before and After.
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Calendar
    </h3>
    <p class="project__body">
      Upgraded calendar options and a clearer sidebar give users more control over the calendar to help them find
      appointments faster.
    </p>
  </div>
  <div class="project__image">
    <img
      src="/assets/img/projects/jane/calendar.png"
      alt="jane app mockup"
      class="responsive-image"
    >
  </div>
  <div class="project__comparison-image">
    <img
      src="/assets/img/projects/jane/calendar-compare.png"
      alt="jane app mockup"
      class="responsive-image"
    >
    <div class="comparison-caption">
      Before and After.
    </div>
  </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Clinic Home Page (mobile)
    </h3>
    <p class="project__body">
      Refine the mobile experience down to the most important parts, giving users a super efficient and easy way to book
      an appointment.
    </p>
  </div>
  <div class="project__image">
    <img
      src="/assets/img/projects/jane/mobile.png"
      alt="jane mobile mockup"
      class="device--mobile responsive-image"
    >
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to make using Jane easier than ever." %}
