---
layout: default
title: Jobscan dashboard redesign | Sixzero
description: We redesigned the Jobscan dashboard to focus users on what they need to do next. The feed in the middle will allow you to guide them through to success and keep them updated.
light_header: true
---

{% include page-header.html class="header--grey" title="Jobscan" subtitle="We want to help give people the best chance at landing that dream job. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Jobscan App
      </h3>
      <p class="project__body">
        We redesigned the Jobscan dashboard to focus users on what they need to 
        do next. The feed in the middle will allow you to guide them through to 
        success and keep them updated.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/jobscan/home.png" alt="Jobscan app mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/jobscan/compare.png" alt="Jobscan app mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Scan View
      </h3>
      <p class="project__body">
        Separated from the dashboard so users can focus on the task.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/jobscan/scan-view.png" alt="Jobscan optimized clean dashboard" class="responsive-image">
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Jobscan mobile
    </h3>
    <p class="project__body">
      Allow people to easily scan and optimize their resume no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/jobscan/mobile.png" alt="Jobscan responsive app development" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Jobscan." %}
