---
layout: default
title: sixzero | Keyhole project concept
description: Design concept for Keyhole
light_header: true
---

{% include page-header.html class="header--grey" title="Keyhole" subtitle="We want to help make Keyhole the best social media analytics platform. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Keyhole App
      </h3>
      <p class="project__body">
        We simplified the Keyhole navigation and app UI so people can monitor their social media analytics and create trackers easier than ever.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/keyhole/keyhole-desktop.png" alt="Keyhole app mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/keyhole/keyhole-compare.png" alt="Keyhole app mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Keyhole mobile
    </h3>
    <p class="project__body">
      Allow people to easily keep track of their social media analytics no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/keyhole/keyhole-mobile.png" alt="Keyhole mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Keyhole." %}