---
layout: default
title: How we designed the Olive app from scratch | Sixzero
description: We helped Olive bring everything together into one easy to use app that we designed from the ground up.
light_header: true
og_image: http://sixzero.co/assets/img/projects/olive/olive-og-image.png
body_class: body-has-bg-top-left
---

{% include project-intro.html title="Olive" introBody="Olive connects technology buyers with the right solutions and technology vendors with their target customers. In other words, Olive is out to kill steak dinner handshake deals and biased RFPs. We helped Olive bring both sides together into one easy to use app." link="//olive.app" linkText="Visit Olive"%}

<section class="project--centered has-no-padding-bottom has-border-bottom cropped-screenshot">
  <div class="section__inner--c12">
    <div class="project__image">
      <img src="/assets/img/projects/olive/olive-buyer-flow-crop.png" alt="Olive app dashboard screenshot" class="responsive-image">
    </div>
  </div>
</section>

<section class="project--brief has-no-padding-bottom">
  <div class="brief__body">
    <h4 class="project__name">The Brief</h4>
    <p>
      Olive believes in a transparent unbiased sales process that helps 
      companies avoid the costly mistake of getting sold the wrong solution.
    </p> 
    <p>
      They help technology buyers make more accurate, unbiased decisions 
      with significantly lower cost and effort by looking deeply at their 
      needs and suggesting best fit technology solutions.
    </p>
    <p>
      On the flip side, Olive also helps technology vendors significantly 
      reduce their customer acquisition costs by offering insights and access 
      to the needs of target customers directly from the source.
    </p>
    <p>
      We helped Olive bring everything together into one easy to use app 
      that we designed from the ground up.
    </p>
    {% include section-expertise.html title="What we did" expertise="Research, Strategy, UX, UI" %}
  </div>
</section>

<section class="wide-cropped-image has-no-padding-bottom">
  <div class="project__image">
    <picture>
        <source media="(min-width: 1200px)" srcset="/assets/img/projects/olive/olive-ipads-desktop.png">
        <source media="(min-width: 768px)" srcset="/assets/img/projects/olive/olive-ipads-tablet.png">
        <img src="/assets/img/projects/olive/olive-ipads-mobile.png" alt="Olive app buyer and seller screenshot" />
      </picture>
  </div>
</section>


<section class="project--centered project-centered--left-aligned buyer-mindset">
  <div class="project__description">
    <h4 class="project__name">
      The Buyer Mindset
    </h4>
    <p>
      We talked to lots of people who buy software for a living during our 
      lean UX discovery phase, and we learned that being able to collect, 
      organize, and rate requirements in a single location was a critical 
      part of making great purchasing decisions.
    </p>
    <p>
      With this in mind we designed a way for stakeholders to easily input, 
      rate, and organize their needs all in one place. Requirements can be 
      broken down by team, individual, category, and rating to really 
      understand what&rsquo;s needed.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-buyer-mindset-screen.png" alt="Olive app screen" class="responsive-image">
  </div>
</section>


<section class="project--left-image has-xxl-spacing">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/olive/olive-evaluate.png" alt="Olive evaluation screen">
    </div>
    <div class="project__description">
      <h4 class="project__name">
        Simple Evaluations
      </h4>
      <p>
        Complex decision matrices, tangled spreadsheets, orphaned documents, 
        and yawn filled whiteboard sessions. These are the tools teams told us 
        they were using to make their purchasing decisions. Olive knew there 
        was a better way.
      </p>
      <p>
        We created a drag and drop evaluation grid that gives buyers the 
        ability to see how well vendors meet their needs and cross examine 
        each of the top suggestions. The evaluation grid offers stakeholders 
        a snapshot of exactly how and why a vendor fits their needs and gives 
        them a single source of truth to share with the decision makers.
      </p>
    </div>
  </div>
</section>


<section class="project--right-image has-bg-circle-right leads-that-matter has-xl-spacing--bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Leads That Matter</h4>
      <p>
        Selling software these days means piecing together information about 
        prospects through lots of creative Googling, LinkedIn sneaking, company 
        about sections, and a little black magic. We heard there is still a 
        lot of &ldquo;gut feeling&rdquo; going into qualifying leads. On top of 
        that, vendors told us that valuable insights about why a buyer decided to 
        purchase gets lost after the ink dries.
      </p>
      <p>
        We designed an interface for vendors to quickly see if a lead is worth 
        pursuing, what the buyers needs are, and what their questions are, 
        allowing vendors to make a decision it instantly.
      </p>
    </div>
    <div class="project__image">
     <picture>
        <source media="(min-width: 1200px)" srcset="/assets/img/projects/olive/olive-cards-desktop.png">
        <source media="(min-width: 768px)" srcset="/assets/img/projects/olive/olive-cards-tablet.png">
        <img src="/assets/img/projects/olive/olive-cards-mobile.png" alt="Olive app evaluation cards" class="responsive-image" />
      </picture>
    </div>   
  </div>
</section>

<section class="section--testimonial">
  <div class="section__inner--c6">
    <h6 class="testimonial__text">
      &ldquo;Working with Sixzero has been a game changer. Not only did they 
      make our app look great, <span class="quote-highlight">their obsession with getting to know and 
      understand our customers</span> helped us build Olive into something truly 
      valuable.&rdquo;
    </h6>
    <div class="testimonial__person">
      <img src="/assets/img/chris.jpg" alt="Chris Heard testimonial headshot" class="testimonial__image">
      <div class="testimonial__name">
        Chris Heard<br>
        CEO, Olive App
      </div>
    </div>
  </div>
</section>

{% include section-cta-block.html %}
