---
layout: default
title: Sixzero | How we designed the Olive app from scratch
description: How we designed the Olive app from scratch
light_header: true
# og_image: http://sixzero.co/assets/img/projects/thinkific/thinkific-og-image.png
---

{% include page-header.html class="header--grey" title="Olive" %}

<section class="project--intro">
  <div class="section__inner--c8">
    <h6 class="intro__copy">
      Olive connects technology buyers with the right solutions and technology vendors with their target customers. In other words, Olive is out to kill steak dinner handshake deals and biased RFPs.

      We helped Olive bring both sides together into one easy to use app.
      <a href="http://olive.app" class="link-with-arrow" target="_blank">Visit Olive</a>
    </h6>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-seller-dash.png" alt="Olive app dashboard screenshot" class="responsive-image">
    <p class="caption">
      Vendor lead evaluation dashboard
    </p>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-seller-requirements.png" alt="Olive app requirements screenshot" class="responsive-image">
    <p class="caption">
      Vendor lead requirements list
    </p>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-seller-shortlist.png" alt="Olive app seller screenshot" class="responsive-image">
    <p class="caption">
      Vendor &ldquo;You&rsquo;ve been shortlisted&rdquo; view
    </p>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-dash.png" alt="Olive app dashboard screenshot" class="responsive-image">
    <p class="caption">
      Buyer project dashboard
    </p>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-departments.png" alt="Olive app departments screenshot" class="responsive-image">
    <p class="caption">
      Buyer requirements by category
    </p>
  </div>
</section>

<section class="project--centered">
  <div class="project__image">
    <img src="/assets/img/projects/olive/olive-onboard.png" alt="Olive app onborading screenshot" class="responsive-image">
    <p class="caption">
      Buyer on-boarding step
    </p>
  </div>
</section>


{% include section-cta-block.html %}
