---
layout: default
title: sixzero | Prana Labs project concept
description: Design concept for Prana Labs
light_header: true
---

{% include page-header.html class="header--grey" title="Prana Labs" subtitle="We want to help make managing allergies easier than ever. Scroll down to see our vision for Prana Labs." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Landing page
      </h3>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/pranalabs/desktop.png" alt="Prana Labs website mockup" class="responsive-image">
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    Mobile
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/pranalabs/mobile.png" alt="Prana Labs mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Prana Labs." %}