---
layout: default
title: sixzero | Preview our project concepts
description: Preview of some project concepts
light_header: true
---

{% include page-header.html class="header--grey" title="Preview" subtitle="A small preview of our work." %}


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Financial Planning Dashboard
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/preview/financial-desktop.png" alt="app mockup" class="responsive-image">
  </div>
  <div class="project__comparison-image">
    <img src="/assets/img/projects/preview/financial-desktop-compare.png" alt="app mockup" class="responsive-image">
    <div class="comparison-caption">
      Before and After.
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Financial Planning Mobile
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/preview/financial-mobile.png" alt="mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Payment App
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/preview/payment-desktop.png" alt="app mockup" class="responsive-image">
  </div>
  <div class="project__comparison-image">
    <img src="/assets/img/projects/preview/payment-desktop-compare.png" alt="app mockup" class="responsive-image">
    <div class="comparison-caption">
      Before and After.
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h4 class="project__name">Purchase Flow</h4>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/purchase-flow.png" alt="Purchase flow interface" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h4 class="project__name">
      Course Builder
    </h4>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/course-builder.png" alt="Course Builder interface" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Healthcare Booking App
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/preview/healthcare-desktop.png" alt="app mockup" class="responsive-image">
  </div>
  <div class="project__comparison-image">
    <img src="/assets/img/projects/preview/healthcare-desktop-compare.png" alt="app mockup" class="responsive-image">
    <div class="comparison-caption">
      Before and After.
    </div>
  </div>
</section>

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Social Media Analytics
      </h3>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/preview/social-desktop.png" alt="app mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/preview/social-desktop-compare.png" alt="app mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Social Media Analytics
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/preview/social-mobile.png" alt="mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html %}