---
layout: default
title: Preview our project concepts | Sixzero
description: Take a look at some of our favorite app development and UI design work. Need help with app development? Don't hesitate to contact us.
light_header: true
---

{% include page-header.html class="header--grey" title="Check us out" subtitle="Take a look at some of our favorite work." %}


<section class="project--right-image project-header-overlap">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        Financial Planning Dashboard
      </h4>
      <p>
        We redesigned the dashboard to make it easy for clients to visualize, adjust, and plan their future.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/preview/financial-desktop.png" alt="Financial planning app development">
    </div>
  </div>
</section>

<section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/preview/thinkific-checkout.png" alt="Purchase flow app interface development">
    </div>
    <div class="project__description">
      <h4 class="project__name">Purchase Flow</h4>
      <p>
        We designed a simple and easy way for people to understand exactly what 
        they are buying when they upgrade.
      </p>
    </div>  
  </div>
</section>

<section class="project--right-image">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        Rental Payment App
      </h4>
      <p>
        Our redesign focuses on creating a centralized space for the most important info, like onboarding steps and upcoming payments. This design also keeps payment history in sight at all times, so nothing gets missed.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/preview/payment-desktop.png" alt="Rental payment app development">
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h4 class="project__name">
      Thinkific Course Builder
    </h4>
    <p>
      Thousands of people use the builder every day to build and manage 
      their courses.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/course-builder.png" alt="Course Builder app interface development" class="responsive-image">
  </div>
</section>

<section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/preview/thinkific-interface.png" alt="Course Builder app interface">
    </div>
    <div class="project__description">
      <h4 class="project__name">
        Thinkific UI
      </h4>
      <p>
        We redesigned the Thinkific UI and navigation by focusing on user needs. Our redesign made the most important features easier to find and use while keeping the other stuff accessible for the power users.
      </p>
    </div>    
  </div>
</section>

<section class="project--right-image">
  <div class="section__inner--c10">
    <div class="project__description">
      <h3 class="project__name">
        Healthcare Booking
      </h3>
      <p>
        Our redesign gives users a super clear navigation and puts the primary 
        actions up front allowing them to find the treatment or practitioner 
        they need easier than ever.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/preview/healthcare-desktop.png" alt="Healthcare booking app development">
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Social Media Analytics
    </h3>
    <p>
      We simplified the navigation and app UI so people can monitor their 
      social media analytics and create trackers easier than ever.
    </p>
  </div> 
  <div class="project__image">
    <img src="/assets/img/projects/preview/social-desktop.png" alt="Social media analytics app development" class="responsive-image">
  </div>       
</section>


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Doctor Discovery and Booking
    </h3>
    <p>
      We refined the design to give users a clean, super clear and 
      understandable experience so they can find a doctor faster. 
    </p>
  </div> 
  <div class="project__image">
    <img src="/assets/img/projects/preview/doctor-recommendations.png" alt="Doctor discovery and booking app development" class="responsive-image">
  </div>       
</section>


{% include section-cta-block.html %}
