---
layout: default
title: Quick Contractors project concept | Sixzero
description: We redesigned the Quick Task app to give contractors get the best possible experience. The redesigned Job screen makes understanding the status of a job easier than ever.
light_header: true
---

{% include page-header.html class="header--grey" title="Quick Contractors" subtitle="We want to help make connecting reliable contractors and customers easier than ever. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
    Quick Task App
    </h3>
    <p class="project__body">
      We redesigned the Quick Task app to give contractors get the best possible experience. We made global search persistent on all screens, we focused on showing &lsquo;New Jobs&rsquo; up front so contractors see them as soon as possible, and we simplified the navigation to make getting around easier than ever. <a href="https://goo.gl/g4HPam" target="_blank">Try the prototype</a>
    </p>    
  </div>
  <div class="project__image">
    <a href="https://goo.gl/g4HPam" target="_blank">
      <img src="/assets/img/projects/quickcontractors/app-home.png" alt="Quick Contractors mobile app mockup" class="device--mobile responsive-image">
    </a>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
    My Jobs
    </h3>
    <p class="project__body">
      Previously known as the &lsquo;Dashboard&rsquo;, the &lsquo;My Jobs&rsquo; redesign gives users the ability to see what&rsquo;s happening with their jobs faster than ever. Less clicks and more information upfront. <a href="https://goo.gl/g4HPam" target="_blank">Try the prototype</a>
    </p> 
  </div>
  <div class="project__image">
    <a href="https://goo.gl/g4HPam" target="_blank">
      <img src="/assets/img/projects/quickcontractors/app-my-jobs.png" alt="Quick Contractors mobile app jobs overview" class="device--mobile responsive-image">
    </a>
  </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    Single Job
    </h3>
    <p class="project__body">
      The redesigned Job screen makes understanding the status of a job easier than ever. We broke down the information into multiple tabs and created the &lsquo;Overview&rsquo; screen, which gives you a quick snapshot of all the most important information in one place. <a href="https://goo.gl/g4HPam" target="_blank">Try the prototype</a>
    </p> 
  </div>
  <div class="project__image">
    <a href="https://goo.gl/g4HPam" target="_blank">
      <img src="/assets/img/projects/quickcontractors/app-single-job.png" alt="Quick Contractors mobile app single job overview" class="device--mobile responsive-image">
    </a>
  </div>
</section>

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Website 
      </h3>
      <p class="project__body">
        Our redesign reduces the number of items in the header to focus users on the most
        important information they need in order to become a customer. 
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/quickcontractors/desktop-header.png" alt="Quick Contractors website mockup homepage" class="responsive-image">
    </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      How It Works
    </h3>
    <p class="project__body">
      We simplified the &lsquo;How it works&rsquo; section so new visitors can understand the process faster.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/desktop-how-it-works.png" alt="Quick Contractors website mockup how it works page" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Why Choose Us
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/desktop-why-choose-us.png" alt="Quick Contractors website mockup why choose us page" class="responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Quick Contractors." %}
