---
layout: default
title: sixzero | Quick Contractors project concept
description: Design concept for Quick Contractors
light_header: true
---

{% include page-header.html class="header--grey" title="Quick Contractors" subtitle="We want to help make connecting reliable contractors and customers easier than ever. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Website 
      </h3>
      <p class="project__body">
        Our redesign reduces the number of items in the header to focus users on the most
        important information they need in order to become a customer. 
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/quickcontractors/desktop-header.png" alt="Quick Contractors website mockup" class="responsive-image">
    </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      How It Works
    </h3>
    <p class="project__body">
      We simplified the &lsquo;How it works&rsquo; section so new visitors can understand the process faster.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/desktop-how-it-works.png" alt="Quick Contractors website mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Why Choose Us
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/desktop-why-choose-us.png" alt="Quick Contractors website mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
    App Home
    </h3>
    <p class="project__body">
      Try the <a href="https://goo.gl/g4HPam" target="_blank">prototype</a>
    </p>    
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/app-home.png" alt="Quick Contractors mobile app mockup" class="device--mobile responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
    App Jobs
    </h3>
    <p class="project__body">
      Try the <a href="https://goo.gl/g4HPam" target="_blank">prototype</a>
    </p> 
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/app-my-jobs.png" alt="Quick Contractors mobile app mockup" class="device--mobile responsive-image">
  </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    App Single Job
    </h3>
    <p class="project__body">
      Try the <a href="https://goo.gl/g4HPam" target="_blank">prototype</a>
    </p> 
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/quickcontractors/app-single-job.png" alt="Quick Contractors mobile app mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Quick Contractors." %}