---
layout: default
title: Sixzero | Quartz app concept
description: Design concept for qz.com
light_header: true
---

{% include page-header.html class="header--grey" title="Quartz" subtitle="We love Quartz. However, we would love it more if we could save our favorite articles in the app. Scroll down to see our vision." %}


<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    Our Current Obsession: Favorites
    </h3>
    <p class="project__body">
      Every day we scroll through loads of amazing stories but they are so fleeting. With two swipes of the thumb we move from Africa to San Francisco forgetting that we passed through India on the way. 
      Great storytelling (or a really great GIF) is worth a second look.
    </p>    
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/qz/qz.gif" alt="QZ mobile app mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Quartz." %}