---
layout: default
title: sixzero | We help companies build life changing apps and software.
light_header: true
---

{% include page-header.html class="header--about header--white" title="Rentmoola" subtitle="We want to help make paying rent easier and more rewarding than ever. Scroll down to see how our redesign does just that." %}

<section class="portfolio--centered">
    <div class="portfolio__description">
      <h3 class="portfolio__name">
        App Home 
      </h3>
      <p class="portfolio__body">
        We focused on creating a centralized space for the most important info. 
        Right now that is the onboarding steps, later on it might be upcoming 
        payments. This design also keeps payment history in sight at all times, 
        so nothing gets missed.
      </p>
    </div>
    <div class="portfolio__image">
      <img src="/assets/img/rentmoola/rentmoola-home.png" alt="Rentmoola app mockup" class="responsive-image">
    </div>
    <div class="portfolio__comparison-image">
      <img src="/assets/img/rentmoola/compare-home.png" alt="Rentmoola app mockup" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="portfolio--centered">
  <div class="portfolio__description">
    <h3 class="portfolio__name">
      Payments
    </h3>
    <p class="portfolio__body">
      We simplified the payments flow to make it easier to follow. Instead of taking 2 steps, we get right to it. The design also feels more consistent with the rest of the app.
    </p>
  </div>
  <div class="portfolio__image">
    <img src="/assets/img/rentmoola/rentmoola-payments.png" alt="Rentmoola app mockup" class="responsive-image">
  </div>
  <div class="portfolio__comparison-image">
      <img src="/assets/img/rentmoola/compare-payments.png" alt="Rentmoola app mockup" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="portfolio--centered">
  <div class="portfolio__description">
    <h3 class="portfolio__name">
      Messages
    </h3>
    <p class="portfolio__body">
      No more empty messages! Send a message right away so people feel welcomed. This also teaches people how to use messages, and what they are for.
    </p>
  </div>
  <div class="portfolio__image">
    <img src="/assets/img/rentmoola/rentmoola-messages.png" alt="Rentmoola app mockup" class="responsive-image">
  </div>
</section>

<section class="portfolio--centered has-no-padding-bottom">
  <div class="portfolio__description">
    <h3 class="portfolio__name">
      App Home (Mobile)
    </h3>
    <p class="portfolio__body">
      Allow people to easily use Rentmoola no matter where they are.
    </p>
  </div>
  <div class="portfolio__image">
    <img src="/assets/img/rentmoola/rentmoola-mobile.png" alt="Rentmoola mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to make paying rent easier than ever." %}