---
layout: default
title: ReWatt Power app design | Sixzero
description: We want to help make independent electricity generators be more profitable. We redesigned the app dashboard to focus users on the most important information and reduce complexity.
light_header: true
---

{% include page-header.html class="header--grey" title="ReWatt Power" subtitle="We want to help make independent electricity generators be more profitable. Scroll down to see our vision." %}

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        ReWatt Power App
      </h3>
      <p>We redesigned the dashboard to focus users on the most important information and reduce complexity. This can lead to higher engagement and improved user experience.</p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/rewattpower/desktop.png" alt=" ReWatt Power website mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/rewattpower/desktop-compare.png" alt=" ReWatt Power app mockup" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    ReWatt Power Mobile
    </h3>
    <p>We added a mobile design to make sure independent electricity generators 
    can check their stats no matter where they are.</p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/rewattpower/mobile.png" alt=" ReWatt Power mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help ReWatt Power." %}
