---
layout: default
title: sixzero | We help companies build life changing apps and software.
light_header: true
---

{% include page-header.html class="header--grey" title="TalentSnap" subtitle="We want to help make hiring the absolute best talent easier than ever. Scroll down to see how our redesign does just that." %}

<section class="project--right-image has-no-padding-bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        Plugin UI
      </h4>
      <p>
        TalenSnap has a solid UI, but we found some ways to improve it.
        <br>
        <br>
        1. Separating the nav into primary tasks like &lsquo;FitScore&rsquo; and 
        secondary tasks like &lsquo;Settings&rsquo; makes it easier to focus on what&rsquo;s 
        important.
        <br>
        <br>
        2. Re-naming &lsquo;Filters&rsquo; and removing the icons makes it instantly 
        understandable.
        <br>
        <br>
        3. Adding more information to critical form fields so users understand 
        what&rsquo;s required without having to guess.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/talentsnap/plugin.png" alt="Main menu interface">
    </div>
  </div>
</section>


<section class="project--centered has-no-padding-bottom">
    <div class="project__description">
      <h3 class="project__name">
        Plugin UI
      </h3>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/talentsnap/plugin.png" alt="Rentmoola app mockup" class="responsive-image">
    </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help TalenSnap." %}