---
layout: default
title: sixzero | TalentSnap project
light_header: true
---

{% include page-header.html class="header--grey" title="TalentSnap" subtitle="We want to help make hiring the absolute best talent easier than ever. Scroll down to see how our redesign does just that." %}

<section class="project--right-image has-no-padding-bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        Plugin UI
      </h4>
      <p>
        TalenSnap has a solid UI, but we found some ways to improve it.
        <br>
        <br>
        1. Reorganize the nav making it easier to focus on what&rsquo;s 
        important.
        <br>
        <br>
        2. Rename &lsquo;Filters&rsquo; to make it instantly understandable.
        <br>
        <br>
        3. Add information to critical form fields so users understand 
        what&rsquo;s required without guessing.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/talentsnap/plugin.png" alt="TalentSnap app mockup">
    </div>
  </div>
</section>


<section class="project--centered has-no-padding-bottom">
    <div class="project__description">
      <h3 class="project__name">
        Plugin UI
      </h3>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/talentsnap/plugin.png" alt="TalentSnap app mockup" class="responsive-image">
    </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help TalentSnap." %}