---
layout: default
title: Sixzero | Tesserent project concept
description: Design concept for Tesserent
light_header: true
---

{% include page-header.html class="header--grey" title="Tesserent" subtitle="We want to help take the hard work out of managing cyber security. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Website
      </h3>
      <p class="project__body">
        We simplified every element of the header to laser focus the visitor on converting into a customer and finding out what they need to know.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/tesserent/header.png" alt="Tesserent website mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/tesserent/header-compare.png" alt="Tesserent website mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Passionate about security
    </h3>
    <p class="project__body">
      We&rsquo;re passionate about design, we get you.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/tesserent/passionate.png" alt="Tesserent website mockup" class="responsive-image">
  </div>
  <div class="project__comparison-image">
      <img src="/assets/img/projects/tesserent/passion-compare.png" alt="Tesserent website mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Managed security
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/tesserent/managed-security.png" alt="Tesserent website mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Logos
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/tesserent/logos.png" alt="Tesserent website mockup" class="responsive-image">
  </div>
</section>


<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile Header
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/tesserent/header-mobile.png" alt="tesserent mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
    More mobile
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/tesserent/passion-mobile.png" alt="tesserent mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Tesserent." %}