---
layout: default
title: Thinkific online courses app design | Sixzero
description: We redesigned the Thinkific app to be friendlier, more powerful for everyone, and include global search.
light_header: true
og_image: http://sixzero.co/assets/img/projects/thinkific/thinkific-og-image.png
body_class: body-has-bg-top-right
---

{% include project-intro.html title="Thinkific" introBody="Thinkific enables entrepreneurs to create, market, sell, and deliver their own online courses. Here are a few ways we helped them in their mission to revolutionize the way people learn and earn online." link="//thinkific.com" linkText="Visit Thinkific"%}

<section class="project--right-image">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        User Groups
      </h4>
      <p>
        It wasn&rsquo;t until we started talking to customers that we recognized 
        how different each use case for Groups was. After extensive user research 
        and iteration we designed User Groups to give every Thinkific school a 
        better way to organize existing students and sell to new ones.
      </p>
      {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design" %}
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/thinkific/user-groups.png" alt="Thinktific user groups interface mockup">
    </div>
  </div>
</section>

<section class="project--centered project-centered--left-aligned section--color-grey-light-gradient project--isometric-mobile">
  <div class="project__description">
    <h4 class="project__name">
      Main Menu
    </h4>
    <p>
      We redesigned the Thinkific main navigation to be friendlier, more 
      powerful for everyone, and include global search. With such a diverse 
      user base we spent a lot of time understanding what instructors
      disliked about the existing navigation, how they navigated the app, and 
      what features they used the most in order to understand how we could 
      improve their experience and productivity.
    </p>
    {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design" %}
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/menu-mobile.png" alt="Main menu mobile mockup" class="responsive-image">
  </div>
</section>

<!-- <section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
        <img src="/assets/img/projects/thinkific/top-secret.png" alt="Site Builder mockup">
    </div>
    <div class="project__description">
      <h4 class="project__name">Site Builder</h4>
      <p>
        One of the biggest complaints Thinkific got was about the beauty and 
        flexibility of their website themes &mdash; a huge component of the 
        Thinkific platform. Users wanted their sites to match their brand and 
        unique content but the existing system just wasn&rsquo;t flexible enough.
      </p>
      <p>
        We helped design a flexible platform that allows developers and 
        designers to create totally unique, beautiful, and fully customizable 
        websites, empowering Thinkific instructors to fully tailor their site to 
        their needs without any design skills.
      </p>
      {% include section-expertise.html title="Expertise" expertise="Product Strategy, Research, UX, UI Design" %}
    </div>      
  </div>
</section> -->

<section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/thinkific/course-builder.png" alt="Course Builder mockup">
    </div>
    <div class="project__description">
      <h4 class="project__name">Course Builder</h4>
      <p>
        Thousands of instructors use the Course Builder every day to create and 
        manage their online courses.
      </p>
      <p>
        We heard time and time again from users that they were painters, 
        sailing instructors, or yoga teachers, not web designers. We designed 
        the course builder to be intuitive so instructors of all technical 
        abilities could create an online course without having to hire a team 
        of developers.   
      </p>
      {% include section-expertise.html title="Expertise" expertise="UX, UI Design, Front-end Dev" %}
    </div>    
  </div>
</section>

<section class="section--testimonial">
  <div class="section__inner--c6">
    <h6 class="testimonial__text">
      &ldquo;If you&rsquo;re looking for a company that <span class="quote-highlight">really cares about how 
      product gets built</span> and has the skills and experience to make sure you 
      solve the right problems in an effective, useable, and beautiful way, 
      then you&rsquo;d be lucky to work with Sixzero.&rdquo;
    </h6>
    <div class="testimonial__person">
      <img src="/assets/img/greg.jpg" alt="Greg Smith testimonial headshot" class="testimonial__image">
      <div class="testimonial__name">
        Greg Smith<br>
        CEO, Thinkific
      </div>
    </div>
  </div>
</section>

<section class="project--centered project-centered--left-aligned section--color-grey-light-gradient project--isometric-mobile">
  <div class="project__description">
    <h4 class="project__name">
      Purchase Flow
    </h4>
    <p>
      Accepting money from eagar course creators should have been easy, but we 
      heard from many Thinkific users that the payment experience wasn&rsquo;t 
      easy or confidence inspiring. We worked to remove the friction and give 
      users all the information they needed to confidently make a decision and 
      get their online course out into the world no matter what device they 
      were on.
    </p>
    {% include section-expertise.html title="Expertise" expertise="Research,UX, UI Design" %}
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/payment-flow-tablet.png" alt="Payment flow mobile mockup" class="responsive-image">
  </div>
</section>


{% include section-cta-block.html %}
