---
layout: default
title: sixzero | How we helped design Thinkific
description: How we helped design the Thinkific app.
light_header: true
---

{% include page-header.html class="header--grey" title="Thinkific" subtitle="Some of the ways we helped Thinkific instructors share their knowledge and build their businesses." link="http://thinkific.com" linkText="Visit Thinkific" %}

<section class="project--right-image project-header-overlap">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">
        Main Menu
      </h4>
      <p>
        We redesigned the Thinkific main navigation to be friendlier, more 
        powerful for everyone, and include global search.
      </p>
      {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design" %}
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/thinkific/menu-2.png" alt="Main menu interface">
    </div>
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h4 class="project__name">
      User Groups
    </h4>
    <p class="project__body">
      User Groups gives schools a better way to organize existing students and 
      sell to new ones.
    </p>
    {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design" %}
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/user-groups.png" alt="User groups interface" class="responsive-image">
  </div>
</section>

<section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
        <img src="/assets/img/projects/thinkific/top-secret.png">
    </div>
    <div class="project__description">
      <h4 class="project__name">Site Builder &amp; Themes</h4>
      <p>
        Themes are built on a flexible platform that allows developers or 
        designers to create totally unique, beautiful and cutomizable websites. 
        The Site Builder interface allows Thinkific users to customize their themes and 
        content even further without needing any design skills. Still in 
        production.
      </p>
      {% include section-expertise.html title="Expertise" expertise="Product Strategy, Research, UX, UI Design" %}
    </div>      
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h4 class="project__name">
      Course Builder
    </h4>
    <p class="project__body">
      Thousands of people use the builder every day to build and manage their courses.
    </p>
    {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design, Front-end" %}
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/thinkific/course-builder.png" alt="Course Builder interface" class="responsive-image">
  </div>
</section>

<section class="project--right-image has-no-padding-bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Purchase Flow</h4>
      <p>
        A simple and easy way for people to understand exactly what they are 
        buying when they upgrade.
      </p>
      {% include section-expertise.html title="Expertise" expertise="Research, UX, UI Design" %}
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/thinkific/purchase-flow.png" alt="Purchase flow interface">
    </div>
  </div>
</section>

{% include section-cta-block.html %}
