---
layout: default
title: sixzero | Trybe project concept
description: Design concept for Trybe
light_header: true
---

{% include page-header.html class="header--grey" title="Trybe" subtitle="We want to help managers become great leaders. Scroll down to see how our redesign does just that." %}


<section class="project--right-image project-header-overlap">
  <div class="section__inner--c10">
    <div class="project__description">
      <h3 class="project__name">
        Header
      </h3>
      <p class="project__body">
        We redesigned the website header to focus the users on the primary actions: the menu and scrolling to learn more.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/trybe/desktop-header.png" alt="Trybe website mockup">
    </div>
  </div>
</section>


<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Meet Scrybe
    </h3>
    <p class="project__body">
      We refined the the product section to highlight the interface and show off it&rsquo;s features.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/trybe/desktop-meet.png" alt="Trybe website mockup" class="responsive-image">
  </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Join our team
    </h3>
    <p class="project__body">
      We would love to join your team!
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/trybe/desktop-team.png" alt="Trybe website mockup" class="responsive-image">
  </div>
</section>


<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile App
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/trybe/mobile.png" alt="Trybe mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Trybe." %}