---
layout: default
title: Sixzero | Voro project concept
description: Design concept for Voro
light_header: true
---

{% include page-header.html class="header--grey" title="Voro" subtitle="We want to help make finding and booking doctors easier than ever. Scroll down to see how our redesign does just that." %}


<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        App Home
      </h3>
      <p class="project__body">
        We redesigned the search page to focus on the most important thing: the search form. We moved less important elements below the fold to reduce distractions.
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/voro/desktop-search.png" alt="Voro website mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/voro/compare-search.png" alt="Voro website mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered">
  <div class="project__description">
    <h3 class="project__name">
      Search Results
    </h3>
    <p class="project__body">
      We refined the search results page to show more of the map and focus users 
      on the doctor profiles. 
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/voro/desktop-map.png" alt="Voro website mockup" class="responsive-image">
  </div>
  <div class="project__comparison-image">
      <img src="/assets/img/projects/voro/compare-map.png" alt="Voro website mockup comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>


<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile Search
    </h3>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/voro/mobile.png" alt="Voro mobile mockup" class="device--mobile responsive-image">
  </div>
</section>


{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help Voro." %}