---
layout: default
title: Sixzero | Wantboard project
description: Design concept for Wantboard
light_header: true
---

{% include page-header.html class="header--grey" title="Wantboard" subtitle="We want to help make getting anything from anywhere easier than ever. Scroll down to see how our redesign does just that." %}

<section class="project--centered">
    <div class="project__description">
      <h3 class="project__name">
        Home
      </h3>
      <p class="project__body">
        We redesigned the UI to direct user attention towards the persistent search box and a single primary action in the banner. We also brought the value props above the fold to build user confidence. The goal of both is higher conversion to sale.
      </p>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/wantboard/desktop.png" alt="Wantboard app mockup" class="responsive-image">
    </div>
    <div class="project__comparison-image">
      <img src="/assets/img/projects/wantboard/compare-desktop.png" alt="Wantboard app comparison" class="responsive-image">
      <div class="comparison-caption">
        Before and After.
      </div>
    </div>
</section>

<section class="project--centered has-no-padding-bottom">
  <div class="project__description">
    <h3 class="project__name">
      Mobile
    </h3>
    <p class="project__body">
      Allow people to get anything from anywhere no matter where they are.
    </p>
  </div>
  <div class="project__image">
    <img src="/assets/img/projects/wantboard/mobile.png" alt="Wantboard mobile mockup" class="device--mobile responsive-image">
  </div>
</section>

{% include section-cta-block.html title="This is just a preview" subtitle="We have more ideas on how to help people get anything from anywhere." %}