---
layout: default
title: sixzero | About us
description: Who we are, what we do and where we do it
light_header: true
---

{% include page-header.html class="header--grey" title="We design software that changes lives" subtitle="No really, someone told us that once. " %}

<section class="section--text">
  <div class="section__inner--c8">
    <p>We believe in the power of listening more than anything.</p>
    <p>
      As designers we don&rsquo;t believe in acting like an authority on great 
      ideas, instead we like to act as facilitators. We believe the job of a 
      designer is to bring the best ideas out of the people who understand the 
      problem most intimately. In our experience the very best ideas often come 
      from the most unsuspecting place, not from some hotshot 
      designer sitting alone in a room.
    </p>
    <p>
      Listening to people and fully understanding their needs allows us to figure out 
      what is really going to make the biggest impact in that person&rsquo;s life. 
      It allows companies to find key advantages that no one is seeing and turn that 
      into an amazing product.
    </p>
    <p>
      Listening to your customers is how you get product market fit. Listening to 
      your customers is how you take a good product and make it great. Listening to 
      your customers is how you design amazing things. In our opinion, listening is 
      the only way to build anything these days.
    </p>
    <p>
      We help companies take ideas and turn them into amazing products. We can 
      help you pinpoint customers needs, design a beautiful and intuitive 
      interface, and build it. 
    </p>
    <p>
      Do you have an idea you want to turn into an amazing product? We would love 
      to work together, you&rsquo;ve already caught our attention.
    </p>
    <p>
      <a href="mailto:hello@sixzero.co">We&rsquo;re listening.</a></p>
  </div>
</section>

{% include section-what-we-do.html %}

<section class="section--centered section--color-grey where-we-work">
  <div class="section__inner--c10">
    <h3 class="section-title">
      Where we work
    </h3>  
    <div class="address-with-map">
      <div class="address__info">
        <p>
          1275 Venables St.<br>
          Vancouver, B.C. <br>
          V6A 2E4 <br>
          <br>
          <a href="https://www.google.ca/maps/place/1275+Venables+St,+Vancouver,+BC+V6A+2C9,+Canada/@49.2773753,-123.0801943,17z/data=!3m1!4b1!4m5!3m4!1s0x5486716ad551e0a7:0xea30be9634aa0ce4!8m2!3d49.2773718!4d-123.0780056" class="link-with-arrow" target="_blank">Get Directions</a>
        <p>
      </div>
      <div class="address-map-image">
        <img src="/assets/img/map.png" alt="directions to our office map">
      </div>
    </div>
  </div>
</section> 