---
layout: default
title: Blog | Sixzero
light_header: true
body_class: has-no-box-shadow
redirect_from:
  - /2022-03-08-ux-design-conversion-rate-optimization
  - /2022-03-09-how-can-ux-help-conversion-rate
---

<section class="section--centered">
  <div class="section__inner--c12">
    <ul class="card-container flex-wrap">
      {% for post in site.posts %}
      <li
        class="
          card--c6
          is-full-width-image is-grid-gutter-32 is-acting-as-link is-mb-32
        "
      >
        <div class="card-image-container">
          <img class="card-image" src="{{ post.image_url }}" />
        </div>
        <div class="card-content">
          <h3 class="h6 card-title">
            <a class="text-no-decoration" href="{{ post.url }}"
              >{{ post.title }}</a
            >
          </h3>
          {% comment %}
            {{ post.excerpt }}
          {% endcomment %}
          {% if post.published_at %}
          <p class="text-uppercase has-no-margin-bottom card-highlight-text">
            Published {{ post.published_at | date: "%B %-d, %Y" }}
          </p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
