---
layout: default
title: Sixzero | Our Design Process
description: Our human centric design process
light_header: true
---


{% include project-intro.html
  title="Our Design Process"
  introBody="Our design process is simple, efficient, and hyper focused on humans."
%}

<section class="section--centered section--slim">
  <div class="section__inner--c12">
    <img
      src="http://nickfoster.ca/assets/img/design-process.png"
      alt="Product design process diagram"
      class="responsive-image"
    >
  </div>
</section>

{% include section-cta-block.html %}
