---
layout: default
title: sixzero | We help companies build life changing apps and software.
---

{% include page-header.html class="header--teal header--home" title="We are the most human focused design agency" subtitle="We help companies build life changing apps and software." %}

<section class="project--right-image has-border-bottom">
  <div class="section__inner--c10">
    <div class="project__description">
      <h3 class="project__name">Apps with impact</h3>
      <p>
        Our team has helped design apps like Thinkific, a platform that allows 
        anyone to build and sell online courses. Thinkific is used by thousands 
        of people daily to learn and spread knowledge, changing lives in the 
        process.
      </p>
      <a href="/projects/thinkific/" class="button--primary">See project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/example-thinkific-2.png" alt="Thinkific app interface example">
    </div>
  </div>
</section>

{% include section-what-we-do.html class="section--color-grey" %}

<section class="section--testimonial">
  <div class="section__inner--c8">
    <div class="testimonial__image">
      <img src="/assets/img/greg.jpg" alt="Greg Smith testimonial headshot">
    </div>
    <div class="testimonial__body">
      <div class="testimonial__mini-title">
        What they&rsquo;re saying about us
      </div>
      <h6 class="testimonial__text">
        &ldquo;If you&rsquo;re looking for someone who really cares about how product gets built and has the skills and experience to make sure you solve the right problems in an effective, useable, and beautiful way, then you&rsquo;d be lucky to work with sixzero.&rdquo;
      </h6>
      <div class="testimonial__name">
        Greg Smith, CEO, Thinkific
      </div>
    </div>
  </div>
</section>

{% include section-cta-block.html %}