---
layout: default
title: Sixzero | We help companies design life changing apps and software.
redirect_from: "/friends/"
---

{% include page-header.html class="header--teal header--home" title="We are the most human focused design agency" subtitle="We help companies design life changing apps and software." %}

<section class="project--left-image has-no-padding-bottom">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/vanbex/vanbex-home-page.png" alt="Vanbex website example">
    </div>
    <div class="project__description">
      <h4 class="project__name">Humanizing the Blockchain</h4>
      <p>
        Vanbex is a leading blockchain consulting firm. Since 2013 they have 
        been helping cutting edge companies bring their projects to life. We 
        helped make their marketing website more effective with a human 
        focused redesign.
      </p>
      <a href="/projects/vanbex/" class="button--primary">See Project</a>
    </div>
  </div>
</section>

<section class="project--right-image" id="work">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Apps with impact</h4>
      <p>
        We&rsquo;ve helped design apps like Thinkific, a platform that allows 
        anyone create, market, sell, and deliver their own online courses. 
        Thinkific is used by thousands of people daily to learn and spread knowledge, changing lives in the 
        process.
      </p>
      <a href="/projects/thinkific/" class="button--primary">See Project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/example-thinkific-2.png" alt="Thinkific app interface example">
    </div>
  </div>
</section>

{% include section-what-we-do.html class="section--color-grey-light" %}

<section class="section--testimonial">
  <div class="section__inner--c6">
    <h6 class="testimonial__text">
      &ldquo;If you&rsquo;re looking for someone who really cares about how 
      product gets built and has the skills and experience to make sure you 
      solve the right problems in an effective, useable, and beautiful way, 
      then you&rsquo;d be lucky to work with Sixzero.&rdquo;
    </h6>
    <div class="testimonial__person">
      <img src="/assets/img/greg.jpg" alt="Greg Smith testimonial headshot" class="testimonial__image">
      <div class="testimonial__name">
        Greg Smith<br>
        CEO, Thinkific
      </div>
    </div>
  </div>
</section>

{% include section-cta-block.html %}