---
layout: default
title: Sixzero | We help companies design life changing apps and software.
redirect_from: "/friends/"
light_header: true
body_class: body-has-bg-top-left
---

{% include page-header.html class="header--home" title="We help companies design life changing apps and software" icon="/assets/img/value-icon@2x.png" %}

{% include summary-olive.html class="has-no-padding-top" %}

{% include summary-vanbex.html %}

{% include summary-thinkific.html %}

{% include section-what-we-do.html class="section--color-grey-light-gradient" %}

<section class="section--testimonial">
  <div class="section__inner--c6">
    <h6 class="testimonial__text">
      &ldquo;If you&rsquo;re looking for a company that really cares about how 
      product gets built and has the skills and experience to make sure you 
      solve the right problems in an effective, useable, and beautiful way, 
      then you&rsquo;d be lucky to work with Sixzero.&rdquo;
    </h6>
    <div class="testimonial__person">
      <img src="/assets/img/greg.jpg" alt="Greg Smith testimonial headshot" class="testimonial__image">
      <div class="testimonial__name">
        Greg Smith<br>
        CEO, Thinkific
      </div>
    </div>
  </div>
</section>

{% include section-cta-block.html %}