---
layout: default
title: Sixzero | Work
description: Our favorite projects
light_header: true
---

{% include page-header.html class="header--grey" title="Work" subtitle="Some examples of our favorite recent work" %}

<section class="project--right-image" id="work">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Olive</h4>
      <p>
        Olive connects technology buyers with the right solutions and technology 
        vendors with their target customers. In other words, Olive is out to 
        kill steak dinner handshake deals and biased RFPs.
        We helped Olive bring both sides together into one easy to use app.
      </p>
      <a href="/projects/olive/" class="link-with-arrow">See Project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/olive/olive-preview.png" alt="Olive app interface example">
    </div>
  </div>
</section>

<section class="project--left-image">
  <div class="section__inner--c10">
    <div class="project__image">
      <img src="/assets/img/projects/vanbex/vanbex-home-page.png" alt="Vanbex website example">
    </div>
    <div class="project__description">
      <h4 class="project__name">Vanbex</h4>
      <p>
        Vanbex is a leading blockchain consulting firm. Since 2013 they have 
        been helping cutting edge companies bring their projects to life. We 
        helped make their marketing website more effective with a human 
        focused redesign.
      </p>
      <a href="/projects/vanbex/" class="link-with-arrow">See Project</a>
    </div>
  </div>
</section>

<section class="project--right-image" id="work">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Thinkific</h4>
      <p>
        Thinkific is a platform that allows anyone create, market, sell, and 
        deliver their own online courses. It&rsquo;s used by thousands of people 
        daily to learn and spread knowledge, changing lives in the process.
      </p>
      <a href="/projects/thinkific/" class="link-with-arrow">See Project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/example-thinkific-2.png" alt="Thinkific app interface example">
    </div>
  </div>
</section>

{% include section-cta-block.html %}