<ul class="toc__chapters toc__top-level-list">
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/0-introduction/">Introduction</a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#what-is-user-testing">
          What is user testing?
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#why-should-you-conduct-user-testing">
          Why should you conduct user testing
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#who-should-conduct-user-testing">
          Who should conduct user testing
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#when-should-you-conduct-user-testing">
          When should you conduct user testing
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#is-it-worth-the-investment">
          Is it worth the investment
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/0-introduction/#our-five-step-framework">
          Our five step framework
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/1-step-1/">
        Step 1: Define what you’re testing and why
      </a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/1-step-1/#decide-what-you-are-testing">
          Decide what you are testing
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/1-step-1/#decide-what-you-want-to-understand">
          Decide what you want to understand
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/1-step-1/#build-out-the-foundations-of-your-test">
          Build out the foundations of your test
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/1-step-1/#action-item">
          Action Items
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/2-step-2/">
        Step 2: Identify and schedule your test participants
      </a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/2-step-2/#determine-your-participant-criteria">
          Determine your participant criteria
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/2-step-2/#find-your-user-test-participants">
          Find your user test participants
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/2-step-2/#schedule-your-tests">
          Schedule your tests
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/2-step-2/#action-items">
          Action Items
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/3-step-3/">
        Step 3: Build your user test and script
      </a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#make-the-experience-as-real-as-possible">
          Make the experience as real as possible
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#set-the-stage-with-a-realistic-scenario">
          Set the stage with a realistic scenario
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#write-your-script">
          Write your script
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#dont-forget-the-software-usability-scale">
          Don't forget the software usability scale
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#test-the-test">
          Test the test
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#modify-as-you-go">
          Modify as you go
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/3-step-3/#action-items">
          Action Items
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/4-step-4/">
        Step 4: Conduct your user test
      </a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#set-up-your-test">
          Set up your test
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#facilitate-like-a-pro">
          Facilitate like a pro
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#practice-active-listening">
          Practice active listening
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#avoid-leading-questions">
          Avoid leading questions
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#let-people-go-off-script">
          Let people go off script
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#be-a-mirror">
          Be a mirror
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#take-limited-notes">
          Take limited notes
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#keep-the-session-small">
          Keep the session small
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/4-step-4/#action-items">
          Action Items
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 toc__chapter-title">
      <a href="/startusertesting/5-step-5/">
        Step 5: Analyze and prioritize your results
      </a>
    </span>
    <ul class="toc__chapters">
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#rewatch-your-videos">
          Rewatch your videos
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#distill-your-learnings-into-solutions">
          Distill your learnings into solutions
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#let-the-results-speak-for-themselves">
          Let the results speak for themselves
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#how-to-prioritize-solutions">
          How to prioritize solutions
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#celebrate-and-iterate">
          Celebrate and iterate
        </a>
      </li>
      <li class="toc__chapter">
        <a href="/startusertesting/5-step-5/#action-items">
          Action Items
        </a>
      </li>
    </ul>
  </li>
  <li class="toc__step">
    <span class="h6 mb-0 toc__chapter-title">
      <a href="/startusertesting/6.1-about-sixzero/">
        About Sixzero
      </a>
    </span>
  </li>
  <li class="toc__step">
    <span class="h6 mb-0 toc__chapter-title">
      <a href="/startusertesting/6.2-resources/">
        Resources
      </a>
    </span>
  </li>
</ul>
