<!-- Meta -->
<meta
  name="description"
  content="{% if page.description %}{{ page.description }}{% else %}Helping companies design impactful apps and software | UX/UI design and User Research{% endif %}"
>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
>
<!-- Canonical -->
<link
  rel="canonical"
  href="{{site.url}}{{page.url}}"
/>
<!-- Favicon -->
{% include favicons.html %}
<!-- Styles -->
<link
  rel="stylesheet"
  href="/assets/css/main.css"
  media="all"
>
<!-- Google Verification -->
<meta
  name="google-site-verification"
  content="XljzHjHqLkwr1MNaK6we3CY-8Ze6PX1Jj_MlYsw_cKk"
/>
<!-- OpenGraph -->
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:description"
  content="{% if page.og_description %}{{ page.og_description }}{% else %}UX/UI design and User Research studio based in Vancouver, BC{% endif %}"
/>
<meta
  property="og:title"
  content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }}{% endif %}"
/>
<meta
  property="og:image"
  content="{% if page.og_image %}{{ page.og_image }}{% else %}https://sixzero.co/assets/img/og-image.png{% endif %}"
/>
<meta
  property="og:image:width"
  content="1200"
/>
<meta
  property="og:image:height"
  content="627"
/>
<meta
  property="og:image:alt"
  content="{% if page.og_imagealt %}{{ page.og_imagealt }}{% else %}Sixzero banner with logo{% endif %}"
/>
<meta
  property="og:url"
  content="https://sixzero.co{{ page.url }}"
/>
