<div class="dropdown-menu-item">
  <a
    href="#"
    class="nav__item"
  >What We Do</a>
  <ul class="dropdown-menu">
    <li><a href="/ux-ui-design">UX/UI Design</a></li>
    <li><a href="/ux-research">User Research</a></li>
    <li><a href="/development">Development</a></li>
  </ul>
</div>
<a
  href="/projects/"
  class="nav__item"
>Work</a>
<a
  href="/startusertesting/"
  class="nav__item"
>Book</a>
<a
  href="/blog/"
  class="nav__item"
>Blog</a>
<a
  href="/about/"
  class="nav__item"
>About</a>
<a
  href="/contact/"
  class="nav__item"
>Contact</a>
