<header class="{{ include.class }}">
  <div class="header__content">
    {% if include.icon %}
    <img
      src="{{ include.icon }}"
      class="header__icon"
      alt="{{ include.iconAlt }}"
    >
    {% endif %}
    {% if include.class == "header--home" %}
      <h1 class="header__title">
        We design apps and software with <span class="title-highlight">measureable impact</span> 
      </h1>
    {% else %}
      <h1 class="header__title">{{ include.title }}</h1>
    {% endif %}
    {% if include.subtitle %}
    <h2 class="header__subtitle">
      {{ include.subtitle }}
      {% if include.link %}
      <a
        href="{{ include.link }}"
        target="_blank"
        class="header__link link-with-arrow"
      >{{ include.linkText }}</a>
      {% endif %}
    </h2>
    {% endif %}
  </div>
</header>
