<!-- Google font CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Poppins:300,400,700">

<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>

{% include slideout-menu.html %}

<!-- Hamburger menu icon animation -->
<script>
var $hamburger = $(".hamburger");

$hamburger.on("click", function(e) {
  $hamburger.toggleClass("is-active");
});
</script>

<!-- Style links on active page -->
<script>
var loc = window.location.pathname;

$('.nav__inner').find('.nav__item').each(function() {
  $(this).toggleClass('active', $(this).attr('href') == loc);
});
</script>

<!-- Smooth scroll -->
<script>
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>