<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>

{% include slideout-menu.html %}

<!-- Hamburger menu icon animation -->
<script>
var $hamburger = $(".hamburger");

$hamburger.on("click", function(e) {
  $hamburger.toggleClass("is-active");
});
</script>

<!-- Style links on active page -->
<script>
var loc = window.location.pathname;

$('.nav__inner').find('.nav__item').each(function() {
  $(this).toggleClass('active', $(this).attr('href') == loc);
});
</script>

{% if page.testimonials %} 
<!-- Slick Slider -->
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.testimonial__container').slick({
      fade: true,
      autoplay: true,
      autoplaySpeed: 9000,
      appendArrows: ".testimonial__arrows",
      prevArrow: "<button class='arrow--left'>&larr;</button>",
      nextArrow: "<button class='arrow--right'>&rarr;</button>"
    });
  });
</script>
{% endif %}