<section class="section--centered section-cta-block {{ include.class }}">
  <div class="section__inner--c6">
    <h3 class="section-title">
      {% if include.title %}
        {{ include.title }}
      {% else %}
        Let&rsquo;s work together
      {% endif %}
    </h3>
    <p class="section-subtitle">
      {% if include.subtitle %}
        {{ include.subtitle }}
      {% else %}
        We will help you build something people love.
      {% endif %}
    </p>
    <a href="mailto:{% include email.html %}" class="button--primary" target="_blank">Get in touch</a>
  </div>
</section>