<section class="section--centered what-we-do {{ include.class }}">
  <div class="section__inner--c10">
    <h3 class="section-title">What we do</h3>
    <p class="section-subtitle">
      We can help you take your idea from sketch to reality.
    </p>
    <div class="card-container">
      <div class="card--c4">
        <img src="/assets/img/icon-interface-design.png" class="card-image" alt="Design icon">
        <h6 class="card-title">Interface Design</h6>
        <p class="card-body">
          We make beautiful, clean and intuitive interfaces. Looking sharp is 
          important!  
        </p>
      </div>
      <div class="card--c4">
        <img src="/assets/img/icon-ux-design.png" class="card-image" alt="People icon">
        <h6 class="card-title">User Experience</h6>
        <p class="card-body">
          Solid UX allows your app to step aside and let people do what they came to do.
        </p>
      </div>
      <div class="card--c4">
        <img src="/assets/img/icon-development.png" class="card-image" alt="Rocket icon">
        <h6 class="card-title">Development</h6>
        <p class="card-body">
          Bring your concept to life and get it out in the world on all major 
          platforms.
        </p>
      </div>
    </div>
  </div>
</section>