<section class="section--centered what-we-do {{ include.class }}">
  <div class="section__inner--c10">
    <h2 class="h3 section-title">What we do</h2>
    <p class="section-subtitle">
     Take your idea from sketch to reality.
    </p>
    <div class="card-container">
      <a href="/user-research" class="card--c4">
        <img
          src="/assets/img/what-we-do-ux.png"
          class="card-image"
          alt="UX illustration"
        >
        <span class="card-highlight-text">Discover</span>
        <h3 class="h5 card-title">User Research</h3>
        <p class="card-body">
          We obsess over your users to understand what they are really thinking and doing.
        </p>
      </a>
      <a href="/interface-design"  class="card--c4">
        <img
          src="/assets/img/what-we-do-ui.png"
          class="card-image"
          alt="UI illustration"
        >
        <span class="card-highlight-text">Design</span>
        <h3 class="h5 card-title">Interface Design</h3>
        <p class="card-body">
          We make beautiful, clean, and super intuitive interfaces.
        </p>
      </a>
      <a href="/development"  class="card--c4">
        <img
          src="/assets/img/what-we-do-dev.png"
          class="card-image"
          alt="Dev illustration"
        >
        <span class="card-highlight-text">Build</span>
        <h3 class="h5 card-title">Development</h3>
        <p class="card-body">
          We&rsquo;ll bring your app to life and get it out in the world.
        </p>
      </a>
    </div>
  </div>
</section>
