<section class="project--left-image {{ include.class }}">
  <div class="section__inner--c12">
    <div class="project__image">
      <img
        class="responsive-image"
        sizes="(max-width: 1400px) 100vw, 1400px"
        srcset="
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_200.png 200w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_355.png 355w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_476.png 476w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_564.png 564w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_657.png 657w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_749.png 749w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_833.png 833w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_912.png 912w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_994.png 994w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1060.png 1060w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1134.png 1134w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1196.png 1196w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1262.png 1262w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1331.png 1331w,
          /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1400.png 1400w
        "
        src="ftsy-preview_wckw55_c_scale,w_1400.png"
        alt="A beautiful mockup on an iPhone of a shoe-selecting service."
      />
    </div>
    <div class="project__description">
      <h4 class="project__name">FTSY</h4>
      <p>
        FTSY helps take the stress out of online shoe shopping using proprietary
        AI-driven foot scanning technology.
      </p>
      <a href="/projects/ftsy/" class="link-with-arrow">See Project</a>
    </div>
  </div>
</section>
