<section class="project--right-image {{ include.class }}">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="h4 project__name">Olive</h2>
      <p>
        Olive connects technology buyers with the right solutions and technology
        vendors with their target customers. In other words, Olive is out to
        kill steak dinner handshake deals and biased RFPs.
        We helped Olive bring both sides together into one easy to use app.
      </p>
      <a
        href="/projects/olive/"
        class="button--primary"
      >See Project →</a>
    </div>
    <div class="project__image">
      <picture>
        <source
          sizes="(max-width: 3000px) 150vw, 3842px"
          srcset="
            /assets/img/projects/olive/olive-preview/olive-preview--200w.webp 200w,
            /assets/img/projects/olive/olive-preview/olive-preview--700w.webp 700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1100w.webp 1100w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.webp 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.webp 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--2200w.webp 2200w,
            /assets/img/projects/olive/olive-preview/olive-preview--3000w.webp 3000w,
            /assets/img/projects/olive/olive-preview/olive-preview--3824w.webp 3823w,
            /assets/img/projects/olive/olive-preview/olive-preview--original.webp 3824w
          "
          type="image/webp"
        />
        <source
          sizes="(max-width: 3000px) 150vw, 3842px"
          srcset="
            /assets/img/projects/olive/olive-preview/olive-preview--200w.jp2 200w,
            /assets/img/projects/olive/olive-preview/olive-preview--700w.jp2 700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1100w.jp2 1100w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.jp2 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.jp2 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--2200w.jp2 2200w,
            /assets/img/projects/olive/olive-preview/olive-preview--3000w.jp2 3000w,
            /assets/img/projects/olive/olive-preview/olive-preview--original.jp2 3842w
          "
          type="image/jp2"
        />
        <source
          sizes="(max-width: 3000px) 200vw, 3842px"
          srcset="
            /assets/img/projects/olive/olive-preview/olive-preview--200w.png 200w,
            /assets/img/projects/olive/olive-preview/olive-preview--700w.png 700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1100w.png 1100w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.png 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--1700w.png 1700w,
            /assets/img/projects/olive/olive-preview/olive-preview--2200w.png 2200w,
            /assets/img/projects/olive/olive-preview/olive-preview--3000w.png 3000w,
            /assets/img/projects/olive/olive-preview/olive-preview--original.png 3842w
          "
          type="image/png"
        />
        <img
          src="/assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1400.png"
          alt="The Fraud Finder application as UI created by Sixzero and Olive"
        />
      </picture>
    </div>
  </div>
</section>
