<section class="project--right-image {{ include.class }}">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="h4 project__name">Thinkific</h2>
      <p>
        Thinkific is a platform that allows anyone create, market, sell, and
        deliver their own online courses. It&rsquo;s used by thousands of people
        daily to learn and spread knowledge, changing lives in the process.
      </p>
      <a href="/projects/thinkific/" class="link-with-arrow">See Project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/example-thinkific-2.png" alt="Thinkific app interface example">
    </div>
  </div>
</section>
