<section class="project--left-image {{ include.class }}">
  <div class="section__inner--c12">
    <div class="project__image">
      <picture>
        <source
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_200.webp 200w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_355.webp 355w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_476.webp 476w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_564.webp 564w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_657.webp 657w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_749.webp 749w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_833.webp 833w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_912.webp 912w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_994.webp 994w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1060.webp 1060w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1134.webp 1134w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1196.webp 1196w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1262.webp 1262w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1331.webp 1331w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1400.webp 1400w
          "
          type="image/webp"
        />
        <source
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_200.jp2 200w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_355.jp2 355w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_476.jp2 476w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_564.jp2 564w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_657.jp2 657w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_749.jp2 749w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_833.jp2 833w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_912.jp2 912w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_994.jp2 994w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1060.jp2 1060w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1134.jp2 1134w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1196.jp2 1196w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1262.jp2 1262w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1331.jp2 1331w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1400.jp2 1400w
          "
          type="image/jp2"
        />
        <source
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_200.png 200w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_355.png 355w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_476.png 476w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_564.png 564w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_657.png 657w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_749.png 749w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_833.png 833w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_912.png 912w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_994.png 994w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1060.png 1060w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1134.png 1134w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1196.png 1196w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1262.png 1262w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1331.png 1331w,
            /assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1400.png 1400w
          "
          type="image/png"
        />
        <img
          class="responsive-image"
          src="/assets/img/projects/ftsy/ftsy-preview_wckw55/ftsy-preview_wckw55_c_scale,w_1400.png"
          alt="A beautiful mockup on an iPhone of a shoe-selecting service."
        />
      </picture>
    </div>
    <div class="project__description">
      <h4 class="project__name">FTSY</h4>
      <p>
        FTSY helps take the stress out of online shoe shopping using proprietary
        AI-driven foot scanning technology.
      </p>
      <a href="/projects/ftsy/" class="link-with-arrow">See Project</a>
    </div>
  </div>
</section>
