<section class="project--right-image {{ include.class }}">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="h4 project__name">Yave</h2>
      <p>
        Yave has re-imagined the brand recognition and buying experience that consumers have when they purchase from independently owned shops.
      </p>
      <a
        href="/2022/01/31/yave-ux-design-case-study/"
        class="button--primary"
      >See Project →</a>
    </div>
    <div class="project__image">
      <picture>
        <source
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
            /assets/img/projects/yave/yave-preview_400.webp 400w,
            /assets/img/projects/yave/yave-preview_600.webp 600w,
            /assets/img/projects/yave/yave-preview_800.webp 800w,
            /assets/img/projects/yave/yave-preview_1200.webp 1200w,
            /assets/img/projects/yave/yave-preview_1400.webp 1400w,
          "
          type="image/webp"
        />
        <source
          sizes="(max-width: 1400px) 100vw, 1400px"
          srcset="
            /assets/img/projects/yave/yave-preview_400.png 400w,
            /assets/img/projects/yave/yave-preview_600.png 600w,
            /assets/img/projects/yave/yave-preview_800.png 800w,
            /assets/img/projects/yave/yave-preview_1200.png 1200w,
            /assets/img/projects/yave/yave-preview_1400.png 1400w,
          "
          type="image/png"
        />
        <img
          class="responsive-image"
          src="/assets/img/projects/yave/yave-preview_1400.png"
          alt="The Yave iPhone app, created by Sixzero and Yave."
        />
      </picture>
    </div>
  </div>
</section>
