<section class="project--left-image {{ include.class }}">
  <div class="section__inner--c12">
    <div class="project__image">
      <img src="/assets/img/projects/ftsy/ftsy-preview.png" alt="FTSY app phone mockup" class="responsive-image">
    </div>
    <div class="project__description">
      <h4 class="project__name">FTSY</h4>
      <p>
        FTSY helps take the stress out of online shoe shopping using proprietary 
        AI-driven foot scanning technology.
      </p>
      <a href="/projects/ftsy/" class="link-with-arrow">See Project</a>
    </div>
  </div>
</section>