<section class="project--right-image {{ include.class }}">
  <div class="section__inner--c10">
    <div class="project__description">
      <h2 class="h4 project__name">Wizebank</h2>
      <p>
        Wizebank is a platform that helps online course creators capture their e-learning business insights in one easy to navigate work space.
      </p>
      <a
        href="/projects/wizebank/"
        class="button--primary"
      >See Project →</a>
    </div>
    <div class="project__image">
      <picture>
        <source
          sizes="(max-width: 2000px) 100vw, 2000px"
          srcset="
            /assets/img/projects/wizebank/wizebank-preview/wizebank_400.png 400w,
            /assets/img/projects/wizebank/wizebank-preview/wizebank_600.png 600w,
            /assets/img/projects/wizebank/wizebank-preview/wizebank_800.png 800w,
            /assets/img/projects/wizebank/wizebank-preview/wizebank_1200.png 1200w,
            /assets/img/projects/wizebank/wizebank-preview/wizebank_1400.png 1400w,
            /assets/img/projects/wizebank/wizebank-preview/wizebank.png 2000w,
          "
          type="image/png"
        />
        <img
          class=""
          src="/assets/img/projects/wizebank/wizebank-preview/wizebank.png"
          alt="The Wizebank application UI created by Sixzero and Wizebank."
        />
      </picture>
    </div>
  </div>
</section>
