<section class="project--right-image">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Olive</h4>
      <p>
        Olive connects technology buyers with the right solutions and technology 
        vendors with their target customers. In other words, Olive is out to 
        kill steak dinner handshake deals and biased RFPs.
        We helped Olive bring both sides together into one easy to use app.
      </p>
      <a href="/projects/olive/" class="link-with-arrow">See Project</a>
    </div>
    <div class="project__image">
      <img src="/assets/img/projects/olive/olive-preview.png" alt="Olive app interface example">
    </div>
  </div>
</section>
