<section class="project--right-image {{ include.class }}">
  <div class="section__inner--c10">
    <div class="project__description">
      <h4 class="project__name">Olive</h4>
      <p>
        Olive connects technology buyers with the right solutions and technology
        vendors with their target customers. In other words, Olive is out to
        kill steak dinner handshake deals and biased RFPs.
        We helped Olive bring both sides together into one easy to use app.
      </p>
      <a href="/projects/olive/" class="link-with-arrow">See Project</a>
    </div>
    <div class="project__image">
      <img
        sizes="(max-width: 1400px) 100vw, 1400px"
        srcset="
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_200.png 200w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_427.png 427w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_585.png 585w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_734.png 734w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_848.png 848w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_944.png 944w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1028.png 1028w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1112.png 1112w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1204.png 1204w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1285.png 1285w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1365.png 1365w,
          /assets/img/projects/olive/olive-preview_bfl7xn/olive-preview_bfl7xn_c_scale,w_1400.png 1400w
        "
        src="olive-preview_bfl7xn_c_scale,w_1400.png"
        alt="The Fraud Finder application as created by Sixzero and Olive"
      />
    </div>
  </div>
</section>
