<section class="testimonials">
  <h1 class="testimonials__title">Reviews.</h1>
  <div class="testimonials__inner">
    <div class="testimonial__arrows"></div>
    <div class="testimonial__container">
      <!-- Greg -->
      {% include testimonial.html img="assets/img/greg.jpg" body="&ldquo;If you&rsquo;re looking for someone who really cares about how product gets built and has the skills and experience to make sure you solve the right problems in an effective, useable, and beautiful way, then you&rsquo;d be lucky to work with Nick.&rdquo;" name="Greg Smith, CEO" company="Thinkific" %}

      <!-- Amanda -->
      {% include testimonial.html img="assets/img/amanda.png" body="&ldquo;Nick is a KICK ASS product designer. He has years of design experience under his belt, and has a real knack for being able to see the big picture while having a keen eye on the details. He&rsquo;s helped mentor and develop a number of designers our team and is no stranger to giving feedback to help others to learn and grow.&rdquo;" name="Amanda" company="Thinkific" %}

      <!-- Mike -->
      {% include testimonial.html img="assets/img/mike.jpg" body="&ldquo;Nick is a creative problem solver who designs things that people intuitively know how to use. He&rsquo;s a straight shooter, and has an innate ability to get shit done. If you&rsquo;re looking for the right guy to build a team and execute on a big idea, Nick&rsquo;s up to the job.&rdquo;" name="Mike Clapson" company="Slack (Co-workers at Mobify)" %}
      
      <!-- John -->
      {% include testimonial.html img="assets/img/john.jpg" body="&ldquo;Nick joined Mobify very early on when there was no design expertise on the team. Nick owned the Mobify brand and created the original designs for the product. As the company grew, Nick wore many hats, working with the Product Team, Customer Success, Marketing and Sales. Nick is not afraid to challenge decisions and is happy to incorporate feedback into his work!&rdquo;" name="John Boxall, CTO" company="Mobify" %}

      <!-- Igor -->
      {% include testimonial.html img="assets/img/igor.jpg" body="&ldquo;Nick was the first full-time employee at Mobify and a critical part of all our marketing and product efforts. As a multi-talented creative, he tackled anything from sales collateral to responsive web design. Nick has a lot of passion for his work and is ready to go the extra mile &mdash; whether it&rsquo;s working hard or playing harder. Highly recommend working with him!&rdquo;" name="Igor Faletski, CEO" company="Mobify" %}      
    </div>
  </div>
</section>