/* Buttons */

%button {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  transition: all .1s ease-in-out;
  text-align: center;
  border-radius: 2px;
}

.button--primary {  
  @extend %button;
  background: $teal;
  color: #ffffff;  

  &:hover {
    background: lighten($teal, 5%);
    box-shadow: 1px 6px 15px rgba($grey-medium, 0.2);
    color: #ffffff;
  }
}

.button--secondary { 
  @extend %button;
  background: transparent;
  color: $blue;

  @media only screen and 
  (max-width: $screen-md) {
    margin-top: 8px;
  }

  &:hover {
    background: #ffffff;
    text-decoration: underline;
    box-shadow: 0 2px 20px rgba($grey, 0.3);
    color: $blue;
  }  
}