// =============================================================================
// Card
// =============================================================================

%card {    
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  box-shadow: 0 20px 30px rgba($grey, 0.1);
  padding: 32px 40px;
  background: #ffffff;    
  text-align: center;

  @media only screen and 
  (max-width: $screen-sm) {
    box-shadow: 0 15px 20px rgba($grey, 0.1);
  }

  @media only screen and 
  (max-width: $screen-xs-max) {
    @include grid-column(12);
    margin-bottom: 40px;
    padding: 32px;
    box-shadow: 0 15px 20px rgba($grey, 0.1);
  }

  .card-image {
    width: 80px;
    height: auto;
    display: inline-block;
    margin: 40px auto;

    @media only screen and 
    (max-width: $screen-xs) {
      width: 60px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .card-title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 16px;

    @media only screen and 
    (max-width: $screen-xs) {
      font-size: 16px;
    }
  }

  .card-body {
    font-size: 16px;
    margin-bottom: 0;
  }
}


.card--c4 {
  @extend %card;
  @include grid-column(4);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(10);
    @include grid-shift(1);
    display: block;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}