.card-container {
  @include grid-container;
  display: flex;

  @media only screen and 
  (max-width: $screen-sm) {
    display: block;
  }
}


// =============================================================================
// Card
// =============================================================================

%card {    
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  box-sizing: border-box;
  box-shadow: 0 20px 30px rgba($grey-medium, 0.2);
  padding: 40px 32px;
  background: #ffffff;    
  text-align: left;

  @media only screen and 
  (max-width: $screen-sm) {
    box-shadow: 0 15px 20px rgba($grey, 0.1);
  }

  @media only screen and 
  (max-width: $screen-xs-max) {
    @include grid-column(12);
    margin-bottom: 40px;
    padding: 32px;
    box-shadow: 0 15px 20px rgba($grey, 0.1);
  }

  .card-image {
    width: 48px;
    height: auto;
    display: inline-block;
    margin-bottom: 112px;

    @media only screen and 
    (max-width: $screen-sm) {
      margin-bottom: 64px;
    }

    @media only screen and 
    (max-width: $screen-xs) {
      width: 40px;
      margin-bottom: 64px;
    }
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 16px;

    @media only screen and 
    (max-width: $screen-xs) {
      font-size: 16px;
    }
  }

  .card-body {
    font-size: 16px;
    margin-bottom: 0;

    @media only screen and 
    (max-width: $screen-xs) {
      font-size: 14px;
    }
  }
}


.card--c4 {
  @extend %card;
  @include grid-column(4);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(8);
    @include grid-shift(2);
    display: block;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}