footer {
  // border-top: 1px solid rgba($grey-medium, .2);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $grey-medium;
  font-size: 16px;

  @media only screen and 
  (max-width: $screen-xs){
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.footer__nav {
  display: block;
  text-align: center;
  margin-bottom: 32px;

  .nav__item {
    text-decoration: none;
    padding: 0 8px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media only screen and 
    (max-width: $screen-xs){
      font-size: 11px;
    }
  }
}

.footer__copy {
  font-size: 15px;
}