/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm) {      
      margin-right: 0;
    }
  }

  .button--primary, 
  .button--secondary {
    @media only screen and 
    (max-width: $screen-xs) {
      display: block;
    }
  }
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 37px;
  }
}

.header__subtitle {
  margin-top: 24px;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 16px;
  }
}

.header__content {
  @include grid-column(8);
  @include grid-shift(2);
  text-align: center;

  @media only screen and 
  (max-width: $screen-md) {
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}


// =============================================================================
// Pages
// =============================================================================

.header-home {
  background: url('/assets/img/home-bg.png') no-repeat center center;
  padding-top: 200px;
  padding-bottom: 160px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .header__title {
    color: $teal;
    font-size: 64px;
    line-height: 1.5;
  }

  .header__subtitle {
    color: $white-faded;
  }
}