/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding-top: 210px;
  padding-bottom: 180px;

  @media only screen and
  (min-width: $screen-lg) {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  @media only screen and
  (max-width: $screen-sm) {
    padding-top: 170px;
    padding-bottom: 130px;
  }

  @media only screen and
  (max-width: $screen-xs) {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;

  @media only screen and
  (max-width: $screen-sm) {
    font-size: 37px;
    line-height: 1.25;
  }
}

.header__subtitle {
  font-family: $body-font;
  font-size: 21px;
  margin-top: 24px;
  margin-bottom: 0;

  @media only screen and
  (max-width: $screen-sm) {
    font-size: 18px;
  }
}

.header__content {
  @include grid-column(8);
  @include grid-shift(2);
  text-align: center;

  @media only screen and
  (max-width: $screen-md) {
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and
  (max-width: $screen-xs) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}


// =============================================================================
// Project: Intro
// =============================================================================

.project--intro {
  @include grid-container;
  background: transparent;
  padding-top: 200px;
  padding-bottom: 56px;
  border: none;
  text-align: center;

  @media only screen and
  (max-width: $screen-sm) {
    padding-top: 96px;
    padding-bottom: 0px;
  }

  @media only screen and
  (max-width: $screen-xs) {
    padding-top: 56px;
    padding-bottom: 0;
    text-align: center;
  }

  &.intro--about {
    text-align: left;
    margin-bottom: 56px;
  }

  &.projects--intro {

    h1 {
      max-width: 1200px;
    }
  }
}

.intro__title {
  margin-bottom: 0;

  @media only screen and
  (max-width: $screen-md) {
    font-size: 37px;
    line-height: 1.25;
  }

  @media only screen and
  (max-width: $screen-sm) {
    font-size: 31px;
    line-height: 1.25;
  }
}

.intro__copy {
  line-height: 2;
  color: $grey-3;

  @media only screen and
  (max-width: $screen-md) {
    font-size: 19px;
  }

  @media only screen and
  (max-width: $screen-sm) {
    font-size: 16px;
    line-height: 1.75;
  }
}


// =============================================================================
// Header: Colours
// =============================================================================

.header--teal {
  .header__title {
    color: $teal;
    font-size: 64px;
    line-height: 1.5;

    @media only screen and
    (max-width: $screen-md) {
      font-size: 53px;
    }

    @media only screen and
    (max-width: $screen-sm) {
      font-size: 37px;
    }
  }

  .header__subtitle {
    color: $white-faded;
  }
}


.header--grey {
  background: $grey-light;

  @media only screen and
  (min-width: $screen-md) {
    padding-top: 190px;
    padding-bottom: 170px;
  }

  @media only screen and
  (min-width: $screen-lg) {
    padding-top: 270px;
    padding-bottom: 240px;
  }

  .header__title {
    color: $grey;
    font-size: 64px;
    line-height: 1.5;

    @media only screen and
    (max-width: $screen-md) {
      font-size: 53px;
    }

    @media only screen and
    (max-width: $screen-sm) {
      font-size: 37px;
    }
  }

  .header__subtitle {
    color: rgba($grey,0.5);
  }

  .header__link {
    color: rgba($grey,0.5);
    text-decoration: none;

    &:hover {
      color: $teal;
      text-decoration: underline;
    }
  }

  .nav--item {
    color: $grey;
  }
}

// =============================================================================
// Header: Pages specific
// =============================================================================

.header--home {
  @include grid-container;
  background: transparent;
  padding-top: 200px;
  padding-bottom: 200px;


  @media only screen and
  (max-width: $screen-md) {
    padding-top: 144px;
    padding-bottom: 144px;
  }

   @media only screen and
  (max-width: $screen-xs) {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .header__title {
    @media only screen and
    (min-width: $screen-lg) {
      font-size: 100px;
    }

    @media only screen and
    (max-width: $screen-sm) {
      font-size: 66px;
    }

    @media only screen and
    (max-width: $screen-xs) {
      font-size: 50px;
    }
  }


  .header__content {
    @include grid-column(10);
    @include grid-shift(1);
    text-align: left;

    @media only screen and
    (min-width: $screen-lg) {
      @include grid-column(9);
      @include grid-shift(1);
    }

    @media only screen and
    (max-width: $screen-xs) {
      @include grid-column(12);
      @include grid-shift(0);
      text-align: center;
    }
  }

  .header__icon {
    width: 96px;
    height: auto;
    margin-bottom: 8px;

    @media only screen and
    (max-width: $screen-sm) {
      width: 40px;
      margin-bottom: 24px;
    }
  }
}


// =============================================================================
// Header: Old home header, add class header-teal also
// =============================================================================

// .header--home {
//   background: url('/assets/img/home-bg.png') no-repeat center center;
// }




