/* Header */

header {
  @include grid-container;
  background: #ffffff;
  padding-top: 210px;
  padding-bottom: 180px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 170px;
    padding-bottom: 130px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 130px;
    padding-bottom: 100px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm) {      
      margin-right: 0;
    }
  }

  .button--primary, 
  .button--secondary {
    @media only screen and 
    (max-width: $screen-xs) {
      display: block;
    }
  }
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 37px;
    line-height: 1.25;
  }
}

.header__subtitle {
  font-family: $body-font;
  font-size: 21px;
  margin-top: 24px;
  margin-bottom: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 18px;
  }
}

.header__content {
  @include grid-column(8);
  @include grid-shift(2);
  text-align: center;

  @media only screen and 
  (max-width: $screen-md) {
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-xs) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.header__bodytext {
  margin-bottom: 40px;
}


// =============================================================================
// Header: Colours
// =============================================================================

.header--teal {
  .header__title {
    color: $teal;
    font-size: 64px;
    line-height: 1.5;

    @media only screen and 
    (max-width: $screen-md) {
      font-size: 53px;
    }

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 37px;
    }
  }

  .header__subtitle {
    color: $white-faded;
  }
}


.header--grey {
  background: $grey-light;
  
  @media only screen and 
  (min-width: $screen-md) {
    padding-top: 190px;
    padding-bottom: 170px;
  }  

  .header__title {
    color: $grey;
    font-size: 64px;
    line-height: 1.5;

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 53px;
    }

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 37px;
    }
  }

  .header__subtitle {
    color: rgba($grey,0.5);
  }

  .header__link {
    color: rgba($grey,0.5);
    text-decoration: none;

    &:hover {
      color: $teal;
      text-decoration: underline;
    }
  }

  .nav--item {
    color: $grey;
  }
}


.header--small {
  @media only screen and 
  (min-width: $screen-md) {
    padding-top: 144px;
    padding-bottom: 56px;
  }

  @media only screen and 
  (max-width: $screen-md) {
    padding-top: 128px;
    padding-bottom: 56px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 96px;
    padding-bottom: 32px;
  }
}

.header--white {
  background: #ffffff;
}


// =============================================================================
// Header: Pages specific
// =============================================================================

.header--home {
  background: url('/assets/img/home-bg.png') no-repeat center center;
}