// Element Resets
// --------------------------------------
@mixin reset__button() {
  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

// typography
// --------------------------------------
@mixin typography__heading-accent-text () {
  margin-bottom: 0;
  color: $grey-3;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

// all block-level content elements
// ---------------------------------------
// - does not include sectioning elements (e.g., <article>, <nav>, <section>)
// - includes some elements that are likely to be displayed as block-level (e.g.,
//   <video>, <canvas>)
// - notably excludes <div>, because this is likely to be used as as sectioning
//   element
// - excludes block-level elements that are semantically required to be contained
//   by other elements (e.g., <li>)
// - excludes headers
// TODO: add param to enable including headers
@mixin all-block-content-elements() {
  address,
  area,
  audio,
  blockquote,
  br,
  button,
  canvas,
  code,
  dd,
  details,
  dialog,
  dl,
  dt,
  embed,
  fieldset,
  figcaption,
  figure,
  form,
  hgroup,
  hr,
  iframe,
  img,
  map,
  menu,
  object,
  ol,
  p,
  picture,
  pre,
  strong,
  summary ,
  svg,
  table,
  ul,
  video
  {
    @content;
  }

}

// breakpoints
// ------------------------------------
$ebook__navigation-breakpoint: 1024px;

@mixin breakpoint__ebook__navigation--compressed() {
  @media only screen and (max-width: $ebook__navigation-breakpoint) {
    @content;
  }
}

@mixin breakpoint__ebook__navigation--expanded() {
  @media only screen and (min-width: $ebook__navigation-breakpoint + 1) {
    @content;
  }
}
