// Element Resets
// --------------------------------------
@mixin reset__button() {
  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}


// breakpoints
// ------------------------------------
// TODO: work this into the design system -> Discuss with Nick
$ebook__navigation-breakpoint: 1200px;

@mixin breakpoint__ebook__navigation--compressed() {
  @media only screen and (max-width: $ebook__navigation-breakpoint) {
    @content;
  }
}

// TODO: work this into the design system
@mixin breakpoint__ebook__navigation--expanded() {
  @media only screen and (min-width: $ebook__navigation-breakpoint + 1) {
    @content;
  }
}
