// ============================================================================= 
// Mobile Nav
// ============================================================================= 

.mobile-nav-trigger {
  border-bottom: 1px solid #e2e2e2;
  background: #ffffff;
  padding: 16px;
  display: none;

  @media only screen and 
  (max-width: $screen-xs) {
    display: block;
  }

  .toggle-button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
  }
}

.mobile-nav {
  display: none;

  @media only screen and 
  (max-width: $screen-xs) {
    display: block;
  }
}

// ============================================================================= 
// Desktop Nav
// ============================================================================= 

.desktop-nav {
  @include grid-container;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    display: none;
  }

  .nav__item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    transition: none;
    color: $white-faded;

    &:hover {
      color: $teal !important;
    }

    &.active {
      color: #ffffff;
    }
  }

  .nav__item + .nav__item {
    margin-left: 35px;
  }
}

.nav__inner {
  @include grid-column(12);
  display: flex;
  align-items: center;
}

// ============================================================================= 
// Slideout menu CSS
// ============================================================================= 

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: $grey;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

  .nav__item {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    padding: 16px 0;
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.slideout-open .slideout-menu {
  @media only screen and 
  (min-width: $screen-xs){
    display: none !important;
  }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100vh;
  background-color: #ffffff; /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
