.post-container {
  @include grid-container;
  padding-top: 80px;
  margin-bottom: 120px;

  @media only screen and 
  (max-width: $screen-xs){
    padding-top: 64px;
  }

  h1 {
    display: block;
    margin-bottom: 16px;
    text-align: center;

    @media only screen and 
    (max-width: $screen-xs){
      font-size: 37px;
    }
  }

  h2 {
    display: block;
    position: relative;
    color: $grey-medium;
    margin-top: 0;
    margin-bottom: 176px;
    text-align: center;
    font-size: 25px;

    @media only screen and 
    (max-width: $screen-xs){
      margin-bottom: 128px;
      font-size: 21px;
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -88px;
      transform: translateX(-50%);
      width: 60px;
      height: 2px;
      background: $grey-medium;

      @media only screen and 
      (max-width: $screen-xs){
        bottom: -64px;
      }
    }
  }

  & > h1, 
  & > h2, 
  & > h5, 
  & > p {
    @include grid-column(8);
    @include grid-shift(2);
        
    @media only screen and 
    (max-width: $screen-md){
      @include grid-column(10);
      @include grid-shift(1);
    }

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(12);
      @include grid-shift(0);
    }
  }

  & > h5, 
  & > p {
    margin-bottom: 16px;
  }

  blockquote {
    @include grid-column(10);
    @include grid-shift(1);
    display: block;
    text-align: center;
    font-size: 37px;
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 1.75;
    margin-top: 64px;
    margin-bottom: 64px;

    @media only screen and 
    (max-width: $screen-sm){
      @include grid-column(12);
      @include grid-shift(0);
      font-size: 31px;
      margin-top: 24px;
      margin-bottom: 32px;
    }

    @media only screen and 
    (max-width: $screen-xs){
      font-size: 25px;
    }

    & > p {
      padding: 0;
      margin: 0;
    }
  }
}

.story__image-container {
  @include grid-column(12);
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    width: 100%;
    margin-bottom: 24px;
  }

  figcaption {
    @include grid-container;
    @include grid-column(8);
    @include grid-shift(2);
    font-size: 14px;
    color: $grey-medium;
    line-height: 1.5;

    @media only screen and 
    (max-width: $screen-md){
      text-align: center;
    }

    @media only screen and 
    (max-width: $screen-sm){
      @include grid-column(12);
      @include grid-shift(0);
    }
  }
}

.post__cta-container {
  @include grid-column(8);
  @include grid-shift(2);
  padding-top: 48px;
  padding-bottom: 24px;
  
  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    @include grid-shift(0);
  }
}