// ============================================================================= 
// Project
// ============================================================================= 

.project__name {
  @media only screen and 
  (max-width: $screen-md) {
    font-size: 27px;
  }

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 23px;
  }
}

.project__description{
 @media only screen and 
  (max-width: $screen-sm) {
    text-align: left;
  }
}

.project__description p,
.brief__body p {
  @media only screen and 
  (max-width: $screen-md) {
    font-size: 14px;
  }
}

.project__expertise {
  font-size: 14px;
}

.expertise-title {
  color: rgba($grey, 0.4);
  margin-bottom: 8px;
}

.project__body + .project__expertise {
  margin-bottom: 24px;
  margin-top: -8px;
}

// ============================================================================= 
// Project: Image left/right
// ============================================================================= 

%left-right-images {
  @include grid-container;
  // background: #ffffff;
  padding-top: 144px;
  padding-bottom: 144px;
  overflow: hidden;
  border: none;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }

  .section__inner--c10 {
    display: flex;
    align-items: center;

    @media only screen and 
    (max-width: $screen-xs) {
      flex-direction: column;
    }
  }

  .project__description {
    @media only screen and 
    (max-width: $screen-xs) {
      margin-bottom: 32px;
      display: block;
    }
  }

  .project__image {
    @media only screen and 
    (min-width: $screen-sm) {
      @include grid-column(7);
    }

    @media only screen and 
    (min-width: $screen-xs)  {
      @include grid-column(6);
    }

    img {
      max-width: 1300px;

      @media only screen and 
      (max-width: $screen-md) {
        max-width: 1000px;
      }

      @media only screen and 
      (max-width: $screen-sm) {
        max-width: 700px;
      }

      @media only screen and 
      (max-width: $screen-xs) {
        width: 100%;
      }
    }
  }  
}

// ============================================================================= 
// Project: image hangs on the right
// ============================================================================= 

.project--right-image {
  @extend %left-right-images;

  .project__image {
    @include grid-shift(1);

    @media only screen and 
    (max-width: $screen-sm) {
      @include grid-shift(0);
    }
  }

  .project__description {
    @media only screen and 
    (min-width: $screen-sm) {
      @include grid-column(5);
    }

    @media only screen and 
    (min-width: $screen-xs) and 
    (max-width: $screen-xs-max){
      @include grid-column(6);
    }

    @media only screen and 
    (max-width: $screen-xs) {
      margin-bottom: 32px;
    }
  }
}

// ============================================================================= 
// Project: image hangs on the left
// ============================================================================= 

.project--left-image {
  @extend %left-right-images;

  .project__description {
    @media only screen and 
    (min-width: $screen-xs) {
      @include grid-column(5);
      @include grid-shift(1);
    }

    @media only screen and 
    (max-width: $screen-xs) {
      order: 1;
    }
  }

  .project__image {
    @media only screen and 
    (min-width: $screen-xs) {
      direction: rtl;
    }

    @media only screen and 
    (max-width: $screen-xs) {
      order: 2;
    }
  }  
}

// ============================================================================= 
// Project: with centered image and text
// ============================================================================= 

.project--centered {
  @include grid-container;
  padding-top: 112px;
  padding-bottom: 112px;
  border: 0;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }

  .caption {
    padding-top: 32px;
    text-align: center;
  }

  .project__name {
    margin-top: 0;
  }

  .project__description {
    @include grid-column(8);
    @include grid-shift(2);
    text-align: center;
    margin-bottom: 24px;

    @media only screen and 
    (max-width: $screen-sm){
      @include grid-column(10);
      @include grid-shift(1);
    }

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(12);
      @include grid-shift(0);
    }
  }

  .project__image {
    @include grid-column(10);
    @include grid-shift(1);

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(12);
      @include grid-shift(0);
    }
  }

  .device--mobile {
    display: block;
    max-width: 400px;
    margin: 0 auto;

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(8);
      @include grid-shift(2);
    }
  }
}

.project-centered--left-aligned{
  .project__description {
    text-align: left;
    @include grid-column(6);
    @include grid-shift(3);

    @media only screen and 
    (max-width: $screen-md){
      @include grid-column(8);
      @include grid-shift(2);
    }

    @media only screen and 
    (max-width: $screen-sm){
      @include grid-column(10);
      @include grid-shift(1);
    }

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(12);
      @include grid-shift(0);
    }
  }
}

// ============================================================================= 
// Project: Isometric Mobile
// ============================================================================= 

.project--isometric-mobile {
  margin-bottom: 200px;

  @media only screen and 
  (max-width: $screen-sm){
    margin-bottom: 180px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    margin-bottom: 80px;
  }

  .project__image {
    @include grid-column(8);
    @include grid-shift(2);
    margin-bottom: -350px;

    @media only screen and 
    (max-width: $screen-md){
      margin-bottom: -260px;
    }

    @media only screen and 
    (max-width: $screen-xs){
      @include grid-column(12);
      @include grid-shift(0);
      margin-bottom: -144px;
    }
  }
}


// ============================================================================= 
// Project: Intro
// =============================================================================

.project--intro {
  @include grid-container;
  padding-top: 144px;
  padding-bottom: 0px;
  border: none;
  text-align: center;

  .intro__copy {
    line-height: 2;
    color: $grey-3;

    @media only screen and 
    (max-width: $screen-md) {
      font-size: 19px;      
    }

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 16px;
      line-height: 1.75;
    }
  }

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 96px;
    padding-bottom: 0px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 96px;
    padding-bottom: 32px;
    text-align: center;
  }
}

// ============================================================================= 
// Project: 2-up comparison image
// ============================================================================= 

.project__comparison-image {
  @include grid-column(10);
  @include grid-shift(1);
  padding-top: 80px;

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    @include grid-shift(0);
  }

  .comparison-caption {
    padding: 16px;
    color: $grey-medium;
    font-size: 14px;
  }
}