body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: $grey;
}

// Logo
// -------------------

.logo {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-right: 40px;
  margin-top:-2px;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}