// TODO: suggest adding box-sizing: border-box; to all
// * {
//   box-sizing: border-box;
// }

body {
  position: relative;
  font-family: $body-font;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  color: $grey;

  @media only screen and
  (min-width: 1701px) {
    box-shadow: 0 30px 60px rgba($grey-medium, 0.3);
  }

  &.has-no-box-shadow {
    box-shadow: initial !important;
  }
}

.responsive-image {
  width: 100%;
}

.prevent-scrolling {
  overflow: hidden;
}

// =============================================================================
// Logo
// =============================================================================

.logo {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-right: 40px;
  margin-top: -1px;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}
