.section__inner--c8 {
  @include grid-column(8);
  @include grid-shift(2);

  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.section__inner--c10 {
  @include grid-column(10);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.has-no-padding-bottom {
  padding-bottom: 0;
}

// =============================================================================
// Centred CTA
// =============================================================================

.section--centered {
  @include grid-container;
  text-align: center;
  padding: 144px 0;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm){
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .section-title {
    margin-bottom: 0;

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 25px;
    }
  }
}

.has-no-padding-bottom {
  padding-bottom: 0 !important;
}


// =============================================================================
// Reviews
// =============================================================================

.section--testimonial {
  @include grid-container;
  padding-top: 216px;
  padding-bottom: 128px;
  background: linear-gradient(#ffffff, #fbfbfb);

  @media only screen and 
  (max-width: $screen-sm){
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

.testimonial__image {
  @include grid-column(4);
  text-align: center;

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    margin-bottom: 40px;
  }

  img {
    border-radius: 500px;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;

    @media only screen and 
    (max-width: $screen-xs){
      width: 50%;
    }
  }
}

.testimonial__body {
  @include grid-column(7);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm){
    font-size: 18px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    @include grid-shift(0);
    text-align: center;
    font-size: 16px;
  }
}

.testimonial__name {
  padding-top: 24px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 14px;

  @media only screen and 
  (max-width: $screen-xs){
    font-size: 13px;
  }
}