section {
  @include grid-container;
}

.section__inner--c6 {
  @include grid-column(6);
  @include grid-shift(3);

  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(8);
    @include grid-shift(2);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(10);
    @include grid-shift(1);
  }
}

.section__inner--c8 {
  @include grid-column(8);
  @include grid-shift(2);

  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-xs) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.section__inner--c10 {
  @include grid-column(10);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.section__inner--c12 {
  @include grid-column(12);

  @media only screen and 
  (max-width: $screen-md) {
    @include grid-column(12);
  }
}


// Section: Attributes
// ----------------------

.has-no-padding-bottom {
  padding-bottom: 0 !important;
}

.has-border-bottom {
  border-bottom: 1px solid rgba($grey-medium, .2) !important;
}

.has-border-bottom{
  border-bottom: 1px solid #D8D8D8;
}

.has-xl-spacing {
  padding-top: 240px;
  padding-bottom: 240px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}


// Section: Colours
// ----------------------


.section--color-grey-light-gradient {
  background-image: linear-gradient(#ffffff, $grey-light);
}

.section--color-grey-light {
  background: $grey-light;
}

.section--color-grey {
  background: $grey;

  .expertise-title {
    color: #ffffff;
  }

  .expertise-list {
    color: $white-faded;
  }

  // See this on thinkific case study
  .project__description {
    color: #ffffff;
  }
}

// =============================================================================
// Centred CTA
// =============================================================================

.section--centered {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 144px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm){
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .section-title {
    margin-bottom: 0;

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 27px;
    }
  }

  .section-subtitle {
    color: rgba($grey, 0.7);
    margin-bottom: 40px;
  }
}


.section--slim {
  padding-top: 80px;
  padding-bottom: 80px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}


// =============================================================================
// Tesimonial
// =============================================================================

.section--testimonial {
  @include grid-container;
  padding-top: 248px;
  padding-bottom: 248px;
  background: $grey;

  @media only screen and 
  (max-width: $screen-md){
    padding-top: 208px;
    padding-bottom: 208px;
  }

  @media only screen and 
  (max-width: $screen-sm){
    padding-top: 176px;
    padding-bottom: 176px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    padding-top: 144px;
    padding-bottom: 144px;
  }
}

.testimonial__person {
  display: flex;
  align-items: center;
}

.testimonial__image {
  height: 48px;
  width: auto;
  border-radius: 500px;
  margin-right: 16px;
  display: inline-block;
}

.testimonial__text {
  color: #ffffff;
  font-family: $header-font;
  font-size: 33px;

  @media only screen and 
  (max-width: $screen-sm){
    font-size: 27px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    font-size: 23px;
  }
}

.testimonial__name {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px;
  color: $grey-light;
}


// =============================================================================
// Text
// =============================================================================

.section--text{
  padding-top: 144px;
  padding-bottom: 144px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// =============================================================================
// Individual pages 
// =============================================================================

.what-we-do {
  @media only screen and 
  (min-width: $screen-md) {
    padding-bottom: 176px;
  }

  .card--c4:hover {
    transform: translateY(-2px);
    box-shadow: 0 25px 30px rgba($grey-medium, 0.3);
  }
}