section {
  @include grid-container;
  border-bottom: 1px solid rgba($grey-medium, .2);
}

.section__inner--c6 {
  @include grid-column(6);
  @include grid-shift(3);

  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(8);
    @include grid-shift(2);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.section__inner--c8 {
  @include grid-column(8);
  @include grid-shift(2);

  @media only screen and 
  (max-width: $screen-md){
    @include grid-column(10);
    @include grid-shift(1);
  }

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.section__inner--c10 {
  @include grid-column(10);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}


// Section: Attributes
// ----------------------

.has-no-padding-bottom {
  padding-bottom: 0;
}

// Section: Colours
// ----------------------

.section--color-grey {
  background: $grey-light;
}

// =============================================================================
// Centred CTA
// =============================================================================

.section--centered {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 144px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm){
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .section-title {
    margin-bottom: 0;

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 31px;
    }
  }

  .section-subtitle {
    color: rgba($grey, 0.7);
    margin-bottom: 40px;
  }
}

.has-no-padding-bottom {
  padding-bottom: 0 !important;
}


// =============================================================================
// Tesimonial
// =============================================================================

.section--testimonial {
  @include grid-container;
  padding-top: 144px;
  padding-bottom: 144px;
  background: linear-gradient(#ffffff, #fbfbfb);

  @media only screen and 
  (max-width: $screen-sm){
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

.testimonial__image {
  @include grid-column(4);
  text-align: center;

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    margin-bottom: 40px;
  }

  img {
    border-radius: 500px;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;

    @media only screen and 
    (max-width: $screen-xs){
      width: 50%;
    }
  }
}

.testimonial__body {
  @include grid-column(7);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm){
    font-size: 18px;
  }

  @media only screen and 
  (max-width: $screen-xs){
    @include grid-column(12);
    @include grid-shift(0);
    text-align: center;
    font-size: 16px;
  }
}

.testimonial__text {
  margin-bottom: 8px;
}

.testimonial__name {
  padding-top: 24px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 14px;

  @media only screen and 
  (max-width: $screen-xs){
    font-size: 13px;
  }
}

.testimonial__mini-title {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: rgba($grey, .5);
}


// =============================================================================
// Text
// =============================================================================

.section--text{
  padding-top: 144px;
  padding-bottom: 144px;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// =============================================================================
// Individual pages 
// =============================================================================

.what-we-do {
  padding-top: 128px;
  padding-bottom: 152px;
}