h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 0;

  @media only screen and 
  (max-width: $screen-md) {
    margin-bottom: 24px;
  }
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

h1 {  
  font-size: 53px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 21px;
}

p {
  line-height: 1.75;
  
  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 16px;
  }
}

ul li, ol li {
  color: $grey;
  line-height: 1.75;
  font-weight: 300;
}

.list-has-no-bullets {
  list-style: none;
  padding-left: 0;
}


// ============================================================================= 
// Type: Links
// ============================================================================= 

a {
  color: $grey;
  text-decoration: underline;
  transition: all .1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $teal;
  }
}

.link-with-arrow {
  white-space: nowrap;
  text-decoration: none;

  &:after {
    content: "→";
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 1px;
  }

  &:hover {
    text-decoration: underline;

    &:after {
      transition: all .2s ease-in-out;
      left: 9px;
    }
  }
}

.link-with-arrow__left {
  white-space: nowrap;
  text-decoration: none;

  &:before {
    content: "←";
    text-decoration: none;
    display: inline-block;
    position: relative;
    right: 5px;
    top: 1px;
  }

  &:hover {
    text-decoration: underline;

    &:before {
      transition: all .2s ease-in-out;
      right: 9px;
    }
  }
}

.quote-highlight {
  background-color: $teal;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}