h1, h2, h3, h4, h5, h6, p {
  line-height: 1.75;
  font-weight: 200;
  margin-bottom: 32px;
  margin-top: 0;
}

h1, h2, h3, h4 {
  font-family: $header-font;
}

h1 {  
  font-size: 53px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 21px;
}

p {
  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 16px;
  }
}

ul li {
  line-height: 1.75;
  margin-bottom: 32px;
  color: $grey;
  font-weight: 200;
}


// ============================================================================= 
// Type: Links
// ============================================================================= 

a {
  color: $grey;
  text-decoration: underline;
  transition: all .1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $teal;
  }
}

.link-with-arrow {
  &:after {
    content: "→";
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 1px;
  }

  &:hover {

    &:after {
      transition: all .2s ease-in-out;
      left: 9px;
    }
  }
}