// ==========================================================================
// Margin & padding
// ==========================================================================

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-56 {
  margin-bottom: 56px !important;
}

.has-no-padding-bottom {
  padding-bottom: 0 !important;
}

.has-no-padding-top {
  padding-top: 0 !important;
}

// ==========================================================================
// Text
// ==========================================================================
.text-uppercase {
  text-transform: uppercase;
}

.text-no-decoration {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}
