// z-index
// ----------------------------
// TODO: rename layers as required
$z-layers: (
  "main":                     0,
  "slideout-menu":            0,
  "slideout-panel":           1,
  "desktop-nav":              100,
  "drawer__content-overlay":  99,
  "drawer":                   100,
);


// colors
// ----------------------------
$white-faded: rgba(255,255,255,0.7);

$grey: #394858;
$grey-3: #9CA3AB;
$grey-medium: #B8BCC2;
$grey-light: #F4F5F5;

$teal: #5DCFC9;

$blue: #233147;

@mixin orange-gradient {
  background: rgba(250,144,112,1);
  background: linear-gradient(left, rgba(250,144,112,1) 0%, rgba(251,130,111,1) 100%);
}


// typography
// -----------------------------
$base-font-size: 16px !default;

$header-font: 'Libre Baskerville', "Hoefler Text", Garamond, "Times New Roman", serif;
$body-font: 'Poppins', sans-serif;


// breakpoints
// -------------------------------------------
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// TODO: @derek-findthebrink analyze and consolidate variables and comments
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1440px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
