.embed-container {
    // default video size from Yave blog post (1.3:1)
    --video--width: 4320;
    --video--height: 3240;

    position: relative;
    //padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
    aspect-ratio: var(--video--width) / var(--video--height);
    overflow: hidden;
    max-width: 100%;
    background: white;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
