.work-item {
  @include grid-container;
  background: #ffffff;
  padding-top: 112px;
  padding-bottom: 112px;
  overflow: hidden;

  @media only screen and 
  (max-width: $screen-sm) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media only screen and 
  (max-width: $screen-xs) {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }
}

.work-item__inner {
  @include grid-column(10);
  @include grid-shift(1);

  @media only screen and 
  (max-width: $screen-sm) {
    @include grid-column(12);
    @include grid-shift(0);
  }
}

.work__description {
  @media only screen and 
  (min-width: $screen-sm) {
    @include grid-column(5);
  }

  @media only screen and 
  (min-width: $screen-xs) and (max-width: $screen-xs-max){
    @include grid-column(6);
  }

  @media only screen and 
  (max-width: $screen-xs) {
    margin-bottom: 32px;
  }

  .button--primary {
    margin-right: 8px;

    @media only screen and 
    (max-width: $screen-sm) {      
      margin-right: 0;
    }
  }
}

.work__image {
  @media only screen and 
  (min-width: $screen-sm) {
    @include grid-column(7);
  }

  @media only screen and 
  (min-width: $screen-xs) and (max-width: $screen-xs-max){
    @include grid-column(6);
  }

  img {
    @media only screen and 
    (max-width: $screen-xs) {
      width: 100%;
    }
  }
}

.work__description,
.work__image, 
.image--left .work__description,
.image--left .work__image{
  @media only screen and 
  (max-width: $screen-xs) {
    display: block;
  }
}

.image--left {

  .work-item__inner {
    @media only screen and 
    (max-width: $screen-xs) {
      display: flex;
      flex-direction: column;
    }
  }

  .work__description {
    @media only screen and 
    (min-width: $screen-xs) {
      @include grid-column(5);
      @include grid-shift(1);
    }

    @media only screen and 
    (max-width: $screen-xs) {
      order: 1;
    }
  }

  .work__image {
    @media only screen and 
    (min-width: $screen-xs) {
      @include grid-column(6);
      direction: rtl;
    }

    @media only screen and 
    (max-width: $screen-xs) {
      order: 2;
    }
  }
}

.company__name,
.portfolio__name {
  font-family: 'Libre Baskerville', sans-serif;
  margin-bottom: 8px;

  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 25px;
  }
}

.company__date {
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  color: $grey-medium;
}

.company__description,
.portfolio__body {
  @media only screen and 
  (max-width: $screen-sm) {
    font-size: 16px;
  }
}

.work__image img {
  max-width: 1000px;

  @media only screen and 
  (max-width: $screen-sm) {
    max-width: 800px;
  }
}

.example-commandwear .work__image img{
  max-width: 700px;

  @media only screen and 
  (max-width: $screen-sm) {
    max-width: 600px;
  }
}
