.where-we-work {
  .section-title {
    margin-bottom: 40px;
    color: #ffffff;
  }
}

.address-with-map {
  display: flex;
  align-items: center;
  box-shadow: 0 20px 30px rgba($blue, 0.7);
  background: #ffffff;
  padding: 0;

  @media only screen and
  (max-width: $screen-sm){
    @include grid-column(8);
    @include grid-shift(2);
    display: block;
  }

  @media only screen and
  (max-width: $screen-xs){
    @include grid-column(12);
    @include grid-shift(0);
    display: block;
  }
}

.address__info {
  text-align: left;
  flex: 1;
  padding: 40px 64px;

  @media only screen and
  (max-width: $screen-sm){
    padding: 40px;
  }

  p {
    margin-bottom: 0;
  }
}

.address-map-image {
  flex: 0 0 50%;
  margin-left: auto;
  text-align: right;

  img {
    width: 100%;
    vertical-align: top;
  }
}
