.book-landing hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: 0 auto;
}

.book-highlight {
  text-align: left;
}

.callout {
  border: 1px solid #000000;
  padding: 15px;
}


// ============================================================================= 
// Logo
// ============================================================================= 

table {
  text-align: left;
  margin-bottom: 32px;
}

td, th {
  padding: 10px;
  border: 1px solid $grey;
}