// TODO: move to mixins
@mixin typography__heading-accent-text () {
  margin-bottom: 0;
  color: $grey-3;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.book-index,
.book-page {
  box-shadow: none;

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 0 auto;
  }
}

.book-page {
  width: 100%;
  width: 100vw;
  z-index: z(main);
}

// Grid
.book-container {
  display: grid;
  padding: get-rem(32px);
  grid-template-rows: 1fr;
  grid-row-gap: 0;

  @include breakpoint__ebook__navigation--expanded {
    grid-template-columns: 400px 1fr;
    grid-column-gap: get-rem(80px);
  }

  .book-menu {
    @include breakpoint__ebook__navigation--expanded {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .book-content {
    @include breakpoint__ebook__navigation--expanded {
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}

.book-drawer {
  $drawer-width: get-rem(500px);

  &__container {
    // TODO: unify padding sizes
    // $padding__sides: 2rem;

    position: fixed;
    width: $drawer-width;
    // TODO: resolve -> somehow removing this fixed that shitty viewport over-stretch
    // QUESTION: is there something in the TOC styling pushing it over VH?
    // height: 100vh;
    top: 0;
    bottom: 0;
    left: -$drawer-width;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    background-color: white;
    transition: 0.250s ease-in-out all;
    z-index: z(drawer);
    overflow-y: scroll;
    // NOTE: this is to allow the drawer to slide in on larger screens without looking janky
    opacity: 0;

    &--visible {
      transform: translateX($drawer-width);
      opacity: 1;
    }
  }

  // Drawer triggers
  // ---------------------------------------
  // Used in-line on floating sidebar
  &__toggle-container {
    margin-bottom: get-rem(24px);
  }

  // The toggle itself
  &__toggle {
    @include reset__button();
    cursor: pointer;

    svg {
      fill: $blue;
    }
  }

  &__content-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: z(drawer__content-overlay);
    // TODO: add blur here
  }

  // Drawer content
  // ---------------------------------------
  &__top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__header {
    width: 85%;
  }

  &__title {
    font-size: get-rem(24px);
  }

  &__byline {
    font-size: get-rem(18px);
    font-weight: 600;
  }

  &__author-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
      @include typography__heading-accent-text();
    }
  }

  &__hr {
    border-top: none;
    // TODO: consider assigning to a variable: $grey--accent-elements
    border-color: rgba($grey, 0.2);
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  // TODO: avoid all overrides
  // content overrides
  &__container {
    .toc__chapters {
      padding-left: 0;
      list-style-type: none !important;
    }

    .toc__chapter-title {
      font-size: get-rem(18px);
      font-weight: 600;

      a {
        // TODO: ask if this is intended in design -> does not match rest of site
        text-decoration: none;
      }
    }

    .toc__chapter {
      // TODO: this deviates from designs, recommend keeping for usability (touch capture area)
      margin-bottom: get-rem(4px);
      font-size: get-rem(16px);
    }
  }
}

.book-menu {
  padding-top: 64px;

  &__step-heading {
    @include typography__heading-accent-text();
    margin-bottom: get-rem(16px);
  }

  &__sections {
    // hide chapter navigation entries on mobile
    @include breakpoint__ebook__navigation--compressed() {
      display: none;
    }
  }

  &__next {
    // hide next chapter link on mobile
    @include breakpoint__ebook__navigation--compressed() {
      display: none;
    }
  }
}

.book-menu__content {

  @include breakpoint__ebook__navigation--expanded() {
    position: sticky;
    top: 64px;
    padding-left: 64px;
  }
}

.book-content {
  padding-top: 64px;
}

// =============================================================================
// Type
// =============================================================================

.book-content {
  color: #000000;
  padding-bottom: 64px;

  h6 {
    font-weight: 700;
  }

  p {
    font-size: 20px;
  }

  ul, ol {
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
  }

  ul li, ol li {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    margin-bottom: 8px;
  }

  a {
    color: #000000;

    &:hover {
      color: $teal;
    }
  }

  strong {
    font-weight: 700;
  }
}

// =============================================================================
// Menu
// =============================================================================

.book-menu {
  color: #000000;

  a {
    color: #000000;

    &:hover {
      color: $teal;
    }
  }
}

.book-menu__button {
  margin-bottom: 36px;
  display: block;
}

.book-menu__step {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba($grey, 0.7);
  margin-bottom: 24px;
}

.book-menu__title {
  font-size: 36px;
  line-height: 1.25;
}

.book-menu__content {
  font-size: 18px;
  font-weight: 200;
}

.book-menu__sections {
  list-style: none;
  padding-left: 0;
  margin-bottom: 32px;
}

.book-menu__section {
  margin-left: 0;
}

// =============================================================================
// Callout
// =============================================================================

.callout {
  margin: 32px 0 16px;
  background: rgba($grey-medium, 0.1);
  padding: 40px;


  .callout__title {
    margin-top: 0 !important;
    margin-bottom: 24px;
    font-weight: 800;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}


// =============================================================================
// Action Items
// =============================================================================

.action-items {
  background: rgba($grey-medium, 0.1);
  padding: 40px;
  margin: 48px 0;
}

.action-items__title {
  margin-top: 0 !important;
}

.action-items__list {
  margin-bottom: 0;
}





