.ftsy-intro {

  .intro__title {
    @media only screen and 
    (max-width: $screen-lg) {
      font-size: 37px;
      line-height: 1.25;
    }

    @media only screen and 
    (max-width: $screen-md) {
      font-size: 31px;
      line-height: 1.25;
    }

    @media only screen and 
    (max-width: $screen-sm) {
      font-size: 27px;
    }
  }

  .intro__copy { 
    @media only screen and 
    (max-width: $screen-lg) {
      font-size: 19px;
    }

    @media only screen and 
    (max-width: $screen-md) {
      font-size: 16px;
      line-height: 1.75;
    }
  }

  .project__image img {
    max-width: 520px;
  }
}


.ftsy-shopping {
  background: url('/assets/img/projects/ftsy/shopping.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  background-color: #F5F5F5;

  padding-top: 320px;
  padding-bottom: 320px;

  @media only screen and 
  (max-width: $screen-lg) {
    padding-top: 200px;
    padding-bottom: 200px;
  }


  @media only screen and 
  (max-width: $screen-md) {
    padding-top: 104px;
    padding-bottom: 104px;
    background: #F5F5F5;
  }

  @media only screen and 
  (max-width: $screen-sm) {
    background: #F5F5F5;
  }

}


.ftsy-scanning {
  .project__image img {
    max-width: 520px;
  }
}