.vanbex-header {
  padding-bottom: 0;

  @media only screen and 
  (min-width: $screen-lg) {
    padding-bottom: 200px;
  }
}

.vanbex-people {
  max-width: 100px;
  margin-top: 40px;
  margin-bottom: -48px;

  @media only screen and 
  (min-width: $screen-lg) {
    margin-bottom: -260px;
  }
}