.project-olive {

  .main-wrapper {
    background: url('/assets/img/bg-circle-2.png');
    background-repeat: no-repeat;
    background-position: left top;
  }

  .project--intro {
    background: transparent;
    padding-top: 192px;
  }

}

.olive-cropped-screen {
  border-bottom: 1px solid #D8D8D8;

  img {
    display: block;
  }
}

.olive-large-ipads .project__image {
  width: 100%;
  text-align: center;
  overflow: hidden;

  img {
    position: relative;
    left: 50%;
    transform: translate(-50%,0)
  }
}

.large-image .project__image img {
  max-width: 1300px;
}

.has-bg-circle-right {
  background: url('/assets/img/bg-circle-1.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}


.has-bg-circle-left {
  background: url('/assets/img/bg-circle-2.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}